[2018-06-07 07:01] taehoonlee opened #8 "ResNet50 and MobileNet performances on ImageNet"
I have been checked all the models here with TensorFlow backend (see the [commit](https://github.com/keras-team/keras-applications/commit/26c1c11cdf8b2f9b5c3e281c538c1b0fe1a352b3)). For ImageNet validation set, all except ResNet50 and MobileNet showed the same top-k errors with [TensorNets](https://github.com/taehoonlee/tensornets#performances).
- ResNet50: a slight difference (25.296 / 7.980 / 6.

[2018-06-09 02:04] taehoonlee opened #9 "Integration tests fail"
Since Keras 2.2.0, integration tests have been failed (see [test codes](https://github.com/keras-team/keras-applications/blob/master/tests/integration_tests.py#L22) and [CI results](https://travis-ci.org/keras-team/keras-applications/jobs/389538553)). The `tf.keras.engine` does not exist even in the latest `tensorflow==1.9.0rc0`. @fchollet, Don't we have no choice but to wait for `tensorflow==1.9.

[2018-06-11 17:28] wkeithvan opened #10 "New Model Request: U-Net"
Is it possible to add a U-Net architecture to this list (https://arxiv.org/abs/1505.04597)? This is very popular in current medical imaging research and would be very helpful to have an officially supported version of the model that is pretrained on medical images. Even an untrained, but official version of the model would be a great starting spot for the medical research community.

There is an o

[2018-06-11 20:14] fchollet commented on #9
Welp. `from tensorflow.python.keras import engine` works, so we can use that.

Otherwise it seems to me like we should either make make `engine` a public module in all versions of Keras, or make `keras_applications` not rely on it. We only rely on it because of `get_source_inputs` or something like that. We could package that module with `keras_applications`.

[2018-06-12 00:56] taehoonlee commented on #9
@fchollet, Or how about this?
1. add `from ..engine.network import get_source_inputs` into `keras/utils/layer_utils.py`,
2. add `from .layer_utils import get_source_inputs` into `keras/utils/__init__.py`,
3. replace `engine.get_source_inputs` with `utils.get_source_inputs` for all the applications.

[2018-06-12 01:10] taehoonlee commented on #10
@wkeithvan, Thank you for your suggestion. There are plans to add UNet, and currently you can refer to [this repo](https://github.com/zhixuhao/unet).

[2018-06-12 06:18] aguang1201 opened #11 "Mobilenet V2 error message wrong"
keras ver:2.2.0
When use Mobilenet V2, alpha is wrong(example:0.25).The error message is as following:
ValueError: If imagenet weights are being loaded, alpha can be one of`0.25`, `0.50`, `0.75` or `1.0` only.
But the right alpha is:0.35, 0.50, 0.75, 1.0, 1.3, 1.4.
Please check the mobilenet_v2.py 310th row.

[2018-06-12 06:34] taehoonlee commented on #11
Thank you for the comment, @aguang1201. It will be updated.

[2018-06-12 06:34] #11 closed

[2018-06-12 06:40] taehoonlee commented on #11
Please refer to [the commit](https://github.com/keras-team/keras-applications/commit/f7bc2d2a6b3f7c272df381bd7589bbbf5c6aa4c9).

[2018-06-12 16:13] wkeithvan commented on #10
Thanks... already using that repo. Looking forward to seeing an official U-Net in the future!

[2018-06-12 16:17] fchollet commented on #9
Sounds good to me.

[2018-06-12 16:33] hvpham opened #12 "CNTK and Tensorflow does not agree on pre-trained InceptionResNetV2"
I have been trying to test the pre-trained weight for **InceptionResNetV2** on **CNTK** and **Tensorflow** backends on the ImageNet validation images with a single crop. And **Tensorflow** and **CNTK** do not agree with each other while **Tensorflow** and **Theano** do produce exactly the same output (It is mentioned on the application website that this model is compatible with all three backends)

[2018-06-17 09:02] taehoonlee commented on #8
Notes for ResNet50:

| epsilon for BN | ZeroPadding before the first MaxPooling | Performance |
|------|--------------------------|--------------------------|
| 1e-3 | O (112 conv1 -> 56 pool1) | 25.072 / 7.940 (the best) |
| 1e-5 | O (112 conv1 -> 56 pool1) | 25.126 / 7.982 (TensorNets) |
| 1e-3 | X (112 conv1 -> 55 pool1) | 25.296 / 7.980 (Keras) |

- For the epsilon, 1e-3 is the Keras default w

[2018-06-17 10:42] taehoonlee commented on #8
Notes for MobileNet:
- There are two `ZeroPadding2D((1, 1))`s in both `_conv_block` and `_depthwise_conv_block`.
- With the two, all the backends can produce the same results, which are poor (34.180 / 13.858 / 10.798).
- Without the two, TensorNets and Keras with TF backend can produce the same and good results (29.576 / 10.496 / 8.774); but Theano and CNTK backends resulted in different results.

[2018-06-18 06:02] taehoonlee commented on #12
Thank you for the reports, @hvpham. I calculated squared errors between different backends' outputs with one single image:

|                   | TF & TH | TF & C |
|-------------------|---------|--------|
| VGG16             | 5e-16   | 3e-17  |
| DenseNet121       | 4e-16   | 5e-8   |
| MobileNet         | 1e-15   | 1e-8   |
| InceptionV3       | 1e-15   | 1e-7   |
| InceptionResNetV2 | 1e-15

[2018-06-18 06:02] #12 closed

[2018-06-25 13:22] cassianocasagrande opened #14 "Training code for results on README.md?"
Is it possible to share the code used to generate the data on the README? Was each model trained using the suggested hyperparameters in each paper or all training used the same set of hyperparameters (e.g. batch size, optimizer, lr)?

Thanks in advance

[2018-06-26 10:48] taehoonlee commented on #14
@cassianocasagrande:

- Training codes are not available in `keras-applications`. Please see the original repos exhibited in README. There are the suggested hyperparameters for each paper.
- Test codes with 2012 ILSVRC ImageNet validation set (50000 images) are in my PC. I will share them as soon as possible.

[2018-06-26 10:48] #14 closed

[2018-07-11 09:02] gan3sh500 opened #17 "Unable to use pre-trained weights when additional layers added"
I am trying to replace Pooling layers in Densenet with a custom pooling layer I implemented. I am able to use the model without loading imagenet weights but when I try with `by_name=False` which is default, it raises an error due to difference in number of layers. I tried changing `by_name=True` which stops the error but does not actually load the weights(I assume it does not load since the predic

[2018-07-12 13:05] mktozk opened #18 "[Improvement] Model definitions"
Some model definitions are not precise:
* [Original MobileNetV2 models](https://github.com/tensorflow/models/tree/master/research/slim/nets/mobilenet) dose not have any densely-connected layers.
* [Resnet50](https://arxiv.org/abs/1512.03385) weights are initialized by using `he_normal`.

[2018-07-15 06:40] taehoonlee commented on #17
@gan3sh500, The answer is using  `by_name=True` but the reason why you got the poor performance is that the current weight names in the pre-trained files don't match the names described in the model definition.

The names will be corrected, and you can use the following trick until the updates.

[code]

[2018-07-15 07:05] taehoonlee commented on #18
Thank you for the comments @mktozk.

- For `MobileNetV2`, can you elaborate on the mismatch you think? The equivalence between `tensorflow/models` and `keras-applications` has already been checked.
- For `ResNet50`, the initializers are `he_normal`, `xavier` (the tf-layer default), and  `glorot` (the keras default) in `facebook/fb.resnet.torch`, `tensorflow/models`, and `keras-applications`, respe

[2018-07-15 12:08] mktozk commented on #18
Thank you for your reply.

* For computing outputs, a fully-connected layer is used in `keras-applications` while a 1x1 conv2d is used in `tensorflow/models`. Their operations are not same but provide same results in this case.
* You are right. There are little differences. FYI: `he_normal` initializers are used in [Resnet implementation by chainer](https://github.com/chainer/chainer/blob/master/c

[2018-07-16 01:53] taehoonlee commented on #18
Note that all the models in here are for only inference.

- In the very last layer, the `Dense(classes)` and the `Conv2D(classes, 1)` produce the same results for 224x224 inputs. This is just a style difference rather than a mismatch. Actually, I also want to replace `Dense(classes)` with `Conv2D(classes, 1)` but the replacement requires updates of all the weight files for all the models including

[2018-07-17 23:40] amyburden opened #19 "Mobilenet v1"
Why are you using Separate conv2d instead of Depthwise conv for last several layers?

[2018-07-17 23:41] #19 closed

[2018-07-18 17:47] whatdhack opened #20 "VGG16"
Hi, I have been trying to figure out  how width and height  of an image is handled by  Keras applications.  For example if I  go through the VGG16 code in  https://keras.io/applications/  (copied below) , I see that  there is flipping of height and width.

[code]

The image object uses PIL, and I see the following.

[code]

In the above img  shows 500 as width,  which is  the  how  the image suppo

[2018-07-19 02:22] taehoonlee commented on #18
@mktozk, I'll close the issue for now. Please feel free to open it again at any time if you have additional comments.

[2018-07-19 02:22] #18 closed

[2018-07-19 04:51] taehoonlee commented on #20
@whatdhack, It is just a convention of PIL rather than a flipping. You just forget the PIL format and handle a numpy array.

For ImageNet validation, the most widely used method of shaping is:
- resizing so that the short side is 256 (e.g., 375x500 -> 256x341) followed by
- cropping the center-middle 224x224 sub-region.

[2018-07-19 04:51] #20 closed

[2018-07-19 06:41] whatdhack commented on #20
I  do not think  I understand the example you gave.  For example, can you elaborate how you got from 375x500 to  256x341  ?

For the example code with "include_top=False", it matters which dimension of  input_shape corresponds to width and height.   For example if I want to  replace the whole image loading code in the example by my own code, I will need to know which dimension corresponds to width

[2018-07-19 18:22] whatdhack opened #21 "Does the mode need to be explicitly set in preprocess_input ?"
Wondering if the mode needs to be explicitly set to the backend  I am using.   For example in VGG16,   preprocess_input () seems to pick the 'caffe' mode if I leave it  unset , even if though my backend is Tensorflow.   How would  choosing one over the other would  impact  inference of the pre-trained VGG16 model  ?

[2018-07-20 16:51] whatdhack commented on #20
@taehoonlee ,  can you please complete the answer ? Otherwise I do not think this can be closed.

[2018-07-21 01:57] taehoonlee commented on #20
@whatdhack,
- You can resize the example image with a scale of 0.68(=256/375), maintaining the aspect ratio.
- In the case of `include_top=False`, you can just feed a numpy array without any transformation.

[2018-07-21 02:02] taehoonlee commented on #21
@whatdhack, The mode of `preprocess_input` is not related to the backend. It stands for the library used in the original repository (e.g., VGG: caffe).

[2018-07-21 02:02] #21 closed

[2018-07-21 02:49] whatdhack commented on #20
@taehoonlee , thanks.  For the second part, are you saying width and height are interchangeable ?  How was the pre-trained VGG16 model trained - which tensor dimension was used as width during training  ?  I think  the network will not perform as well if the images are rotated by 90 degrees . The effect of mis-interpreting width for height will be similar.

[2018-07-22 04:36] taehoonlee commented on #20
@whatdhack, The width and the height are NOT interchangeable. For most cases, people use a format of `NHWC` (sample x height x width x channel) or `NCHW` (sample x channel x height x width).

[2018-07-22 04:52] taehoonlee commented on #21
@whatdhack, The mode of `preprocess_input` is originated from each model's original repository:
- `caffe`: 'RGB'->'BGR' followed by `x -= [103.939, 116.779, 123.68]` (e.g., `VGG16` and `VGG19`),
- `tf`: `x /= 127.5` followed by `x -= 1` (e.g., `InceptionV3` and `InceptionResNetV2`),
- `torch`: `x /= 255.` followed by `x -= [0.485, 0.456, 0.406]` and `x /= [0.229, 0.224, 0.225]` (e.g., `DenseNet121

[2018-07-23 00:51] taehoonlee commented on #21
@whatdhack, It doesn't need to be documented because end-users will not directly call `imagenet_utils.preprocess_input`. And, the mode of `preprocess_input` is about only normalization and orthogonal to the backend (i.e., `caffe` mode works on all the backends).

[2018-07-23 00:58] taehoonlee commented on #20
@whatdhack, The `image_data_format` is orthogonal to models and it is already documented.  Please refer to [this](https://keras.io/applications/#vgg16). VGG supports both `NHWC` and `NCHW`. The example is the case of `NHWC`.

[2018-07-23 01:03] whatdhack commented on #20
Really ?   All the Keras applications examples use preprocess_input . See for yourself  - https://keras.io/applications/#vgg16 .

[2018-07-23 01:06] whatdhack commented on #21
@taehoonlee Really ?   All the Keras applications examples use preprocess_input . See for yourself  - https://keras.io/ /#vgg16 .

[2018-07-23 01:14] whatdhack commented on #20
@taehoonlee , looks like the convention is HW  ( versus WH) .     It certainly would not harm to add that to the input_shape  description -  in fact  would have saved this whole thread.

[2018-07-23 01:55] taehoonlee commented on #20
@whatdhack, Where do you think it should be added?

[2018-07-23 02:01] taehoonlee commented on #21
@whatdhack, Users will use a wrapper function `preprocess_input(x)` rather than a `imagenet_utils.preprocess_input(x, data_format, mode)`. The example also presents `x = preprocess_input(x)`.

[2018-07-23 10:04] gan3sh500 commented on #17
I found another way too. I did `model.save_weights()` then reloaded that with `by_name=True`.

[2018-07-23 10:11] #17 closed

[2018-07-23 16:54] whatdhack commented on #21
@taehoonlee ,  I am not sure I can take your word on this one as you did not even know usage if process_input() before I pointed that out.  Documentation on preprocess_input()  will clarify the confusion.

[2018-07-23 16:55] whatdhack commented on #20
@taehoonlee , ???   input_shape  of course !

[2018-07-24 06:55] taehoonlee commented on #21
:)

[2018-07-24 06:56] taehoonlee commented on #20
@whatdhack, Then, would you please make a pull request?

[2018-07-24 11:28] ialhashim opened #22 "DenseNet variable size images"
Is their a fundamental problem with allowing input images of different size? I had to comment this line to allow training images of size 64x64. My goal is to experiment with progressive training where you train on smaller images then train on larger ones (idea advocated in the _fast.ai_ course).

https://github.com/keras-team/keras-applications/blob/235ca351c5de637061c96390186987412f2c7625/keras_a

[2018-07-24 12:11] taehoonlee commented on #22
@ialhashim, Most reference models for ImageNet (including DenseNet) perform 1/32 down-sampling followed by a global-pooling and a classification layer. Thus, the smallest possible `min_size` is 32; it is OK to create a DenseNet with `input_shape=(64, 64, 3)` if you change `min_size=64` in `_obtain_input_shape`.

The reason why `min_size` is set to 221, is a sort of convention. Usually, researchers

[2018-07-24 12:20] ialhashim commented on #22
Wouldn't it be more flexible to have `min_size=32`? I had the wrong impression for a while that there is a strict requirement on the input image size. I feel its better to either set it to the minimum value possible, or include it as an argument in the constructor. Right now this default 221 value is ensuring that I have to modify `densenet.py` every time I train on a new machine / setup.

We can

[2018-07-24 12:45] taehoonlee commented on #22
@ialhashim, I agree with `min_size=32` for models performing 1/32 down-sampling like DenseNet. I'll think about Inception-based models a little more and update soon. Thank you for the comment.

[2018-07-27 14:37] taehoonlee commented on #17
@gan3sh500, Now you can load correctly with `by_name=True` if you use the latest Keras. Please see [the commit](https://github.com/keras-team/keras-applications/commit/d0c13ac26d52549f32b9ba9decc2ab08f430d3d2).

[2018-07-28 03:33] #9 closed

[2018-07-28 08:54] taehoonlee commented on #22
@ialhashim, I have updated `min_size` as the minimum size to make the bottleneck size 1x1. Please check [the update](https://github.com/keras-team/keras-applications/commit/8ad32411a065d67262f76473b8508bb2ce3a2fa6) and the following table:

|                                       | Before | After |
|---------------------------------------|--------|-------|
| DenseNet121, DenseNet169, DenseNet201 |

[2018-07-28 08:54] #22 closed

[2018-07-28 08:56] ialhashim commented on #22
Excellent, thanks!

[2018-08-03 06:02] taehoonlee commented on #10
The #24 will address this issue.

[2018-08-03 06:02] #10 closed

[2018-08-19 20:13] hvpham opened #27 "Inconsistency between Tensorflow and Theano/CNTK when using NASNetLarge/NASNetMobile and MobileNetV2 in Keras 2.2.2"
I am using the NASNetLarge/NASNetMobile and the MobileNetV2 on Keras 2.2.2. I am testing with all three backends and I see the differences between TensorFlow and Theano/CNTK.

I reported that [here](https://github.com/keras-team/keras/issues/10672)

At first, I thought it was because of the Depthwise and Separately Conv2D that was implemented for CNTK and Theano in their backend files. But later I

[2018-08-20 22:48] fchollet opened #28 "Redesign"
The nightly build of TF has switched to a version where we use `keras_applications` as the module `tf.keras.applications`. Unfortunately, this has created the following issue: when using Keras (not tf.keras) with the TF backend and when importing TF, the underlying Keras backend being used by keras.applications is actually tf.keras, causing this code to fail:

[code]

In general the fact that modu

[2018-08-22 01:33] #28 closed

[2018-08-22 13:26] taehoonlee commented on #27
Thank you for the reports, @hvpham. The results with the [`cat.png`](https://homepages.cae.wisc.edu/~ece533/images/) 🐈 are:

- `MobileNetV2`:
  - TF: `[(u'n02124075', u'Egyptian_cat', 0.23030917), (u'n02123045', u'tabby', 0.13059248)]`
  - TH: `[(u'n02123045', u'tabby', 0.15593995), (u'n03482405', u'hamper', 0.082497254)]`
  - C: `[(u'n02123045', u'tabby', 0.15593976), (u'n03482405', u'hamper', 0.

[2018-08-23 07:56] daavoo opened #30 "Output shape discrepancy between keras.applications.ResNet50 and original paper"
In the tables of the original paper (and in other implementations [official tensorflow](https://github.com/tensorflow/models/blob/master/official/resnet/resnet_model.py#L518), [torchvision](https://github.com/pytorch/vision/blob/master/torchvision/models/resnet.py#L105), [keras-resnet](https://github.com/raghakot/keras-resnet/blob/master/resnet.py#L212), [tensorpack](https://github.com/tensorpack/

[2018-08-23 09:56] daavoo opened #31 "Missing Relu in DenseNet"
In the official DenseNet implementations ([caffe](https://github.com/liuzhuang13/DenseNetCaffe/blob/master/make_densenet.py#L57), [torch](https://github.com/liuzhuang13/DenseNet/blob/master/models/densenet.lua#L43), [pytorch](https://github.com/gpleiss/efficient_densenet_pytorch/blob/master/models/densenet.py#L153)) and others ([mxnet](https://github.com/apache/incubator-mxnet/blob/master/python/m

[2018-08-23 23:16] jjhelmus opened #32 "version in setup.py, 1.0.2, is incorrect for the 1.0.4 tag"
The [version recorded in the setup.py file for the 1.0.4 tag](https://github.com/keras-team/keras-applications/blob/1.0.4/setup.py#L24) is 1.0.2, which is incorrect.  The sdist on PyPI has the correct version in the setup.py file.

This can causes issues if a checkout of the git tag is used as the mean to install keras-applications as the incorrect version will be recorded in the metadata.

I do n

[2018-08-25 06:06] taehoonlee commented on #32
cc @fchollet

[2018-08-25 06:14] taehoonlee commented on #31
You are right. Thank you for the report, @daavoo. Please see [the commit](https://github.com/keras-team/keras-applications/commit/e8a7474111e5b77d340d2c4204130b83e9ed69b8). The top-5 accuracies have been improved by about 0.3% because of your help :)

[2018-08-25 06:18] taehoonlee commented on #30
Yes, you are right. That is because the three backends have different behaviors for `Conv2D(..., strides=2, padding='same', ...)`. I will investigate further and let you know. Thank you for the report @daavoo.

[2018-08-26 12:10] daavoo commented on #31
I'm glad to hear that! Closing this

[2018-08-26 12:10] #31 closed

[2018-08-31 11:55] taehoonlee commented on #27
@hvpham, As the inconsistency has been fixed, I'll close the issue for now. Please feel free to open it again at any time if you have further questions. I'm always ready :)

[2018-08-31 11:55] #27 closed

[2018-08-31 12:06] taehoonlee commented on #30
@daavoo, Please see [the commit](https://github.com/keras-team/keras-applications/commit/36436f612e310fd5cc29dafd72538c664a6bdbd6). The original architecture has been reproduced and the accuracies have been slightly improved because of your help :) For more information, you can see [the report](https://github.com/taehoonlee/tensornets/issues/25) about the performance differences from different pad

[2018-09-13 21:17] sclarkson opened #34 "Missing 1.0.5 tag"
Version 1.0.5 was uploaded to PyPI on August 22, but that release never got tagged here.

https://pypi.org/project/Keras-Applications/1.0.5/#files

[2018-09-18 08:05] yunkchen opened #35 "'get_submodules_from_kwargs' is not defined in resnet_common.py"
from . import get_submodules_from_kwargs

[2018-09-25 20:19] MichaelMonashev opened #36 "error in NASNet code"
[code]
cause error:
[code]

Second error:
[code]
[code]

[2018-09-25 20:20] MichaelMonashev commented on #36
@titu1994

[2018-09-27 07:10] MichaelMonashev commented on #36
one more error with penultimate_filters=168
[code]

[code]

[2018-09-27 14:04] titu1994 commented on #36
The first error is unrelated to the model, and occurs in the Optimizer code. I dunno why NASNet code would cause that. It says that a tensor does not have the assign operation (when updating the moving average 1st moment vector m_t).

The second error and third error are due to the exacting shape requirements of NASNet. There are parts of the code that crop prior to averaging and those sections re

[2018-09-27 17:32] MichaelMonashev commented on #36
@titu1994 , thank you for usefull answer!

Second error looks like rounding error during filter size calculation. Is it reproduce in TF version of NASNet? I just start using Keras and python 2 months ago. TF is too hard for me now.

The key feature of NASNet for me is flexible network size. I could find configuration, that did not underfit or overfit with my small dataset.

[2018-09-27 18:46] titu1994 commented on #36
Yes it's probably a rounding error. I haven't used the Tensorflow version in some time, so I couldn't say whether it has a similar issue or not.

One way would be to see where this issue occurs in the code and use math.round or np.round when we decide the number of output filters.

If I recall, I did try that sometime when I was first creating the model. As I remember it, it caused issues when bui

[2018-09-28 01:48] taehoonlee commented on #36
@MichaelMonashev, The `penultimate_filters` must be a multiple of 96, because the first reduction cell assigns the number of filters as `penultimate_filters // 24 // (filter_multiplier ** 2)`. The error messages are different, but they all caused by one reason.

[2018-09-28 16:37] MichaelMonashev commented on #36
@taehoonlee , then I tried to change `penultimate_filters`, I saw error that `penultimate_filters` must be a multiple of **24**.

[2018-09-28 16:46] MichaelMonashev commented on #36
@taehoonlee , i see another code: https://github.com/keras-team/keras-applications/blob/master/keras_applications/nasnet.py#L193
[code]

[2018-09-29 06:40] taehoonlee commented on #36
@MichaelMonashev, OK. I think that the error message (nasnet.py#L193) needs to be revised. Can you try to change `penultimate_filters` as a multiple of 96?

[2018-09-29 06:56] MichaelMonashev commented on #36
96, 96*2, .. 96*7 works good.

[2018-09-29 06:58] taehoonlee commented on #36
OK. Thank you for the reports @MichaelMonashev. The error message will be updated.

[2018-09-29 20:03] omrylcn opened #37 "DepthwiseConv2D and Separable Conv2D"
Hi, i got a question . I can not find solution.  What is the difference between DepthwiseConv2D and Separable Conv2D  ?

[2018-09-30 09:49] taehoonlee commented on #36
@MichaelMonashev, Please refer to [the update](https://github.com/keras-team/keras-applications/commit/9770691c9abad612de3595b972006df3c64d5727).

[2018-09-30 09:49] #36 closed

[2018-09-30 09:54] taehoonlee commented on #37
@omrylcn, Please refer to [the keras codes](https://github.com/keras-team/keras/blob/master/tests/keras/backend/reference_operations.py#L70-L87).
- Depthwise: convolution with filter groups,
- Separable: convolution with (usually 1x1 size of) filter groups followed by normal convolution.

[2018-09-30 09:54] #37 closed

[2018-09-30 10:35] omrylcn commented on #37
thanks your answer

[2018-10-03 00:10] kdkalvik opened #38 "Wrong order of layers for first Conv in densenet"
I see that the first convolutional layer in [densenet ](https://github.com/keras-team/keras-applications/blob/9770691c9abad612de3595b972006df3c64d5727/keras_applications/densenet.py#L208) is followed by a BN and RELU layers but the original paper says all convolutional layers follow BN-RELU-CONV order. @taehoonlee's original [implementation ](https://github.com/taehoonlee/tensornets/blob/97ed2fc73

[2018-10-03 05:01] xiaohk opened #39 "`mixed2` dimension in Inception v3"
In file [inception_v3.py](https://github.com/keras-team/keras-applications/blob/9770691c9abad612de3595b972006df3c64d5727/keras_applications/inception_v3.py#L216), the dimension of layer `mixed2` is supposed to be 35 x 35 x 256.

[code]

However, when I load a pre-trained Inception v3 model, the dimension becomes `(?, ?, ?, 288)`.

[code]

All other concatenation layers match the dimensions noted i

[2018-10-04 05:59] taehoonlee commented on #38
@kdkalvik, I think that all the variants have the same configuration:
- the authors' the official repo (Torch): https://github.com/liuzhuang13/DenseNet/blob/master/models/densenet.lua#L102-L104
- TensorNets (TensorFlow): https://github.com/taehoonlee/tensornets/blob/97ed2fc737608900559dee84dc5243d89a67cb50/tensornets/densenets.py#L42
- Keras: https://github.com/keras-team/keras-applications/blob/m

[2018-10-04 06:32] taehoonlee commented on #39
@xiaohk, Please refer to [the update](https://github.com/keras-team/keras-applications/commit/5f12ac88d660906ee3711c359d11618b33e661e5). Now, you can see the exact shape as follows:
[code]

[2018-10-04 06:38] xiaohk commented on #39
@taehoonlee Thanks for the reply and commit. Shouldn't the dimension for `mixed2` be `(35, 35, 256)` instead of `(35, 35, 288)`?

[2018-10-04 09:59] taehoonlee commented on #39
@xiaohk, Sorry for missing that point. 288 (=64+64+96+64) is correct because the `mixed2` is a concatenation of `branch1x1 (64), branch5x5 (64), branch3x3dbl (96), branch_pool (64)`. You can also check Table 1 (6 page) in [the paper](https://arxiv.org/pdf/1512.00567.pdf).

[2018-10-04 10:21] taehoonlee commented on #39
The comments have been also updated.

[2018-10-04 23:12] kdkalvik commented on #38
I am sorry I guess I made a mistake. Only the [paper ](https://arxiv.org/pdf/1608.06993.pdf) suggests that all conv layers follow BN-RELU-CONV order. Although given that the author's implementation follows CONV-RELU-BN for the first conv, I guess they forgot to mention that.

[2018-10-04 23:12] #38 closed

[2018-10-10 10:36] efferre99 opened #40 "unable to train VGG16"
I'm trying to build a VGG16 model (without using the pre-trained one), but 25 epochs aren't enough because I get overfitting. How many epochs are enough? I have to classify two object
sgd = optimizers.SGD(lr=0.0001, decay=1e-6, momentum=0.9)
model.compile(loss='categorical_crossentropy', # Better loss function for neural networks
optimizer=sgd, # Adam optimizer with 1.0e-4 learning rate
metrics =

[2018-10-11 18:57] gabrieldemarmiesse opened #41 "Add weights of VGG/reset models trained on Open Images"
Currently, for all models, we can do `weights='imagenet'` or `weights=None`. We would like to add `weights='openimages'`. From @taehoonlee  in #26 :

Using different datasets with minor hyper-parameter changes (e.g., changing the numbers of blocks in ResNets): if factorization over imagenet and openimages models is easy, it is still worth to add keras-applications.
Using different datasets with si

[2018-10-12 20:21] sclarkson commented on #34
Anyone else wondering, ad203ab matches what is on PyPI

[2018-10-15 06:28] taehoonlee commented on #40
@efferre99, The convergence rate depends on the data. You can refer to the following cases ImageNet:
- https://github.com/ruimashita/caffe-train/blob/master/vgg.solver.prototxt (max_iter: 450000)
- https://github.com/pherrusa7/Caffe-Utilities/blob/master/VGG/solver.prototxt (max_iter: 600000)

[2018-10-15 06:33] taehoonlee commented on #39
@xiaohk, I'll close the issue for now. Please feel free to open it again at any time if you have additional comments.

[2018-10-15 06:33] #39 closed

[2018-10-15 22:38] alexhagen opened #42 "Unbound Local Error when instantiating InceptionV3 with Python3.7"
I get

[code]

when instantiating an InceptionV3 model on Python 3.7 using

[code]

This seems to propagate to other models in `keras.applications` (see [https://stackoverflow.com/questions/51964883/keras-and-tensorflow-unboundlocalerror-local-variable-self-referenced-before](https://stackoverflow.com/questions/51964883/keras-and-tensorflow-unboundlocalerror-local-variable-self-referenced-before)

[2018-10-15 22:58] alexhagen opened #43 "Error 404 when importing InceptionV3"
Hello, I get
[code]
When trying to import InceptionV3 on Python3.6, using
[code]

If you go to the link, it's a 404 error.

[2018-10-15 22:59] alexhagen commented on #43
Same thing happens for VGG16.

[2018-10-16 01:17] taehoonlee commented on #43
@alexhagen, your example works well in my PC. Can you try it on another PC? There seems to be a network problem.

[2018-10-16 01:59] taehoonlee commented on #42
@alexhagen, Thank you for the reports! I tested your example and the stackoverflow example on Conda's Python 3.7 with the latest Keras. In results, there are no errors for both examples.

In my guess, the protobuf is an old version in your case, while the Keras is an old one in the stackoverflow case. Can you try `pip install -U protobuf`? The latest version of protobuf is 3.6.1.

[2018-10-16 14:43] alexhagen commented on #42
Thanks for the help.  I was able to upgrade my protobuf package, but the problem still persists:

[code]

[2018-10-16 14:52] alexhagen commented on #43
I am able to go to [the model](https://github.com/fchollet/deep-learning-models/releases/download/v0.5/inception_v3_weights_tf_dim_ordering_tf_kernels_notop.h5) using the URL printed in the error output.  Actually, that part was a silly mistake of mine: the error output prints the url with a ":" appended to the end, and when you click it as a link, it will take you to a 404.  So the file exists.

[2018-10-16 14:52] #43 closed

[2018-10-17 02:41] taehoonlee commented on #42
@alexhagen, is TensorFlow also the latest one? I tested with Theano backend, and it is hard for me to reproduce the error because TensorFlow wheel for Python 3.7 doesn't seem to exist in the [PyPI](https://pypi.org/project/tensorflow/#files). BTW, how did you install TensorFlow for Python 3.7?

[2018-10-17 02:48] taehoonlee commented on #43
That is a good point for OSX users, however, it seems to me the error is orthogonal to Keras. Thank you for the comments, @alexhagen! :)

[2018-10-17 15:33] efferre99 opened #44 "Preprocessing multi labeled data"
I have to preprocess images that have multi label.
In particular I have to project a neural network that not only classifies two different shape, triangle or circle, but also get their dimensions: the side, the radius, the position etc.. It's seems with no sense, but for my application it has. Where can I find a similar example?

[2018-10-18 17:09] tejasri19 commented on #42
I'm doing image classification using inceptionv3 model. When i try to import pretrained model weights i get error as below. Can anyone please help me fix it

Traceback (most recent call last):
  File "train.py", line 118, in <module>
    x = GlobalAveragePooling2D()(x)
  File "/home/isemes/anaconda3/envs/tensorflow-venv/lib/python3.6/site-packages/keras/engine/base_layer.py", line 414, in __call__

[2018-10-18 17:15] tejasri19 opened #45 "ValueError: Input 0 is incompatible with layer global_average_pooling2d_1: expected ndim=4, found ndim=2"
I'm doing image classification using inceptionv3 model. When i try to import pretrained model weights i get error as below. Can anyone please help me fix it

[code]

[2018-10-18 22:27] himanshurawlani opened #46 "Issue with decode_predictions() of inception_v3 in keras_applications"
I am using TensorFlow Serving(1.10.0-dev) and have deployed InceptionV3 model using REST API on port 9000 on my Ubuntu 18.04.1. Inorder to test the API, I have written a `sample_request.py` script:

[code]

Just a month ago this script was working perfectly and now suddenly I get this error:

[code]

I did find a work around by replacing the import statement:
`from keras_applications import incept

[2018-10-19 14:42] alexhagen commented on #42
@taehoonlee tensorflow is the latest version -

[code]

However, that compiletime/runtime warning shows that `tensorflow` isn't meant for 3.7 yet.

As to the second question - I honestly can't remember.  I have `bazel` on this laptop, but the runtime/compiletime warning makes it seem more likely that I simply compiled for 3.6 and moved it into my 3.7 packages directory.

I ran the above `test_kera

[2018-10-19 14:42] #42 closed

[2018-10-24 01:00] taehoonlee commented on #46
@himanshurawlani,

1. The recent changes raise the error you described. If you install the latest versions of `keras` and `keras-applications`, you don't need the work around you proposed. Please `pip install -U keras keras-applications`.

2. You can refer to the image labels starting with `n0` in [here](https://gist.github.com/aaronpolhamus/964a4411c0906315deb9f4a3723aac57).

[2018-10-24 01:04] taehoonlee commented on #45
@tejasri19, Please let me know the versions of keras and keras-applications. Maybe, in my guess, the problem will disappear if you install the latest versions. Please `pip install -U keras keras-applications`.

[2018-10-24 01:13] taehoonlee commented on #44
@efferre99, How about [DeepPose (CVPR 2014)](https://www.cv-foundation.org/openaccess/content_cvpr_2014/papers/Toshev_DeepPose_Human_Pose_2014_CVPR_paper.pdf)? There are various approaches to estimate attributes such as a radius and a position.

[2018-10-24 05:07] aisensiy opened #47 "Is there some way to override the model download entrypoint?"
https://github.com/keras-team/keras-applications/blob/13f75fa3640098b26db8eb732f39b891481795a5/keras_applications/resnet50.py#L24

The model download speed is not optimized if just download from github, is there some way to make the download from my own mirror entrypoint?

[2018-10-24 21:49] weiji14 opened #48 "Loading VGG16/19 with pooling=None still has pooling"
Loading a VGG19 layer with include_top=False and pooling=None should return an output that is the 4D tensor of the last **convolutional** layer according to the [docstring](https://github.com/keras-team/keras-applications/blob/567fa4f18c52354c5f08429c429abc34a828f507/keras_applications/vgg19.py#L60-L64).

[code]

However, we get a MaxPooling layer at the very end rather than a Conv2D layer.

[code

[2018-10-25 02:46] taehoonlee commented on #47
Welp. There may be possible ways to optimize the download speed, but we are not experts on it. We would appreciate if you could investigate the ways, @aisensiy.

[2018-10-25 07:13] taehoonlee commented on #48
Thank you for reporting the issue, @weiji14. There is no problem in the current implementations, but the docstrings need to be revised, as you pointed out. The `include_top=False, pooling=None` arguments should return the last convolutional "block" rather than "layer". The "block" means generally a set of layers, and the "convolutional block" in the ImageNet models typically consists of several co

[2018-10-25 21:58] weiji14 commented on #48
Thanks for the quick fix. I'll close the issue now :smile:

[2018-10-25 21:58] #48 closed

[2018-10-27 00:39] tejasri19 commented on #45
Yes , i resolved it by installing latest version. Thanks :)

[2018-10-27 10:40] #45 closed

[2018-10-29 13:04] plapa opened #49 "Resnet50: Mismatched documentation and error on the minimum input width/height"
Hey,

I am trying to import the ResNet50 network on an image classification problem
The input shape I am feeding it is (64, 64, 3), and the [documentation](https://keras.io/applications/#resnet50) mentions that the minimum input width / height is (32, 32).

This is the the code I am using to load the
`model = ResNet50(include_top=False, input_shape=(64,64,3), classes=2, weights=None)`

This is the

[2018-10-29 13:45] taehoonlee commented on #49
@plapa, Please let me know the versions of keras and keras-applications. Maybe, in my guess, the problem will disappear if you install the latest versions. Please `pip install -U keras keras-applications`.

[2018-10-31 12:00] plapa commented on #49
This were my versions:

Keras==2.2.0
Keras-Applications==1.0.2
Keras-Preprocessing==1.0.1

When I updated it, using @taehoonlee instructions, it started working again. Thank you!

[2018-10-31 12:00] #49 closed

[2018-11-01 10:19] phiyodr commented on #35
It is defined in `__init__.py`. See [keras-applications/keras_applications/\_\_init__.py](https://github.com/keras-team/keras-applications/blob/61de21815728aa66377ebb2a7b4c2f5492a34dd2/keras_applications/__init__.py)

[2018-11-02 01:57] yunkchen commented on #35
It has been fixed now, https://github.com/keras-team/keras-applications/blob/add_resnet_variants/keras_applications/resnet_common.py#L30

[2018-11-02 01:57] #35 closed

[2018-11-07 00:29] taehoonlee commented on #44
@efferre99, I'll close the issue for now. Please feel free to open it again at any time if you have additional comments.

[2018-11-07 00:29] #44 closed

[2018-11-07 00:29] taehoonlee commented on #46
@himanshurawlani, I'll close the issue for now. Please feel free to open it again at any time if you have additional comments.

[2018-11-07 00:29] #46 closed

[2018-11-07 00:30] taehoonlee commented on #47
@aisensiy, I'll close the issue for now. Please feel free to open it again at any time if you have additional comments.

[2018-11-07 00:30] #47 closed

[2018-11-07 00:39] taehoonlee commented on #40
@efferre99, I'll close the issue for now. Please feel free to open it again at any time if you have additional comments.

[2018-11-07 00:39] #40 closed

[2018-11-10 20:57] kesarianubhav opened #50 "The shape of the Output of ResNet50 's Last-1 layer changed."
Shape of Each Extracted Feature (1, 7, 7, 2048)
preprocessing input for rnn
Traceback (most recent call last):
  File "main.py", line 88, in <module>
    for i in extracted_features_train]
  File "main.py", line 88, in <listcomp>
    for i in extracted_features_train]
  File "/home/anu/Desktop/btp/implementation/rnn_backend.py", line 42, in preprocess_input_rnn
    tensor = tensor.reshape((n_time_

[2018-11-15 10:55] taehoonlee commented on #50
@kesarianubhav, for the consistency over all the models here, the bottleneck size of ResNet50 has been changed from 1x1 to 7x7. Please refer to [the table](https://github.com/keras-team/keras-applications/pull/5#issuecomment-394230237) about bottleneck sizes.

[2018-11-15 20:06] #50 closed

[2018-11-16 09:35] CMCDragonkai opened #52 "Will the weight paths be pointed to this repo's releases?"
I can see that the source code still points to https://github.com/fchollet/deep-learning-models/releases. Will these end up pointing to: https://github.com/keras-team/keras-applications/releases? The deep-learning-models repo README says its now deprecated.

[2018-11-17 16:42] 2sang opened #53 "Unable to define the number of output classes in VGG16/19 when 'include_top'=False"
Instantiated VGG16/19 model with the argument `'include_top'=False` gives constant output shape (1, 1, 512) Although I provided `'classes'=10` along with them.
[code]
I Expected (None, 1, 1, 10) as an output shape, but the model gives: (None, 1, 1, 512)
[code]
I'm not sure if this is an expected behaviour, but seems like the argument `classes` cannot affects the model when the `include_top`flag is

[2018-11-17 16:56] #53 closed

[2018-11-17 16:59] 2sang commented on #53
Sorry, `classes` should not be specified when `include_top=False`, as the comment says.

[2018-11-30 19:23] christian-rauch opened #54 "MobileNetV2 with undefined backend"
When instantiating `MobileNetV2` without special `kwargs` I get the error:
[code]
because `backend` is undefined (`None`).

Explicitely defining the backend via kwargs `MobileNetV2(..., backend=keras.backend)` solves the issue.

It is not obvious to me, why `get_submodules_from_kwargs` is not using the keras defaults (in this case `keras.backend`) since there is no reason to mix backends in one in

[2018-12-06 21:10] Luckick commented on #54
Thank you for your sharing!
Do you have any idea what would be appropriate to set up keras_utils in kwargs?
Thank you for your help!

[2018-12-06 21:19] christian-rauch commented on #54
Are there any other options than Keras?

Because `get_submodules_from_kwargs` uses the global variables `_KERAS_BACKEND`, `_KERAS_LAYERS`, `_KERAS_MODELS` and `_KERAS_UTILS` they should simply be set to `keras.backend` etc.

Currently they are define to None:
https://github.com/keras-team/keras-applications/blob/df0e26c73951e107a84969944305f492a9abe6d7/keras_applications/__init__.py#L7-L10

[2018-12-06 22:20] Luckick commented on #54
I mean, currently I set up backend=keras.backend,
                                     layers = keras.layers, models = keras.models manually in kwargs.
I still get error:     weights_path = keras_utils.get_file(
AttributeError: 'NoneType' object has no attribute 'get_file'

How should I define the keras_utils? Since keras.utils does not exist.
Thank you!

[2018-12-07 02:04] Luckick commented on #54
By setting: backend=keras.backend,
                                     layers = keras.layers, models = keras.models, utils = keras.utils as kwargs,
problem solved.
Thank you.

[2018-12-07 02:14] Luckick opened #56 "In both MobileNet and MobileNet V2, get ValueError about shape."
ValueError: Error when checking target: expected out_relu to have 4 dimensions, but got array with shape (32, 7)
(I have 7 classes in my label.)

Anybody can help?

[2018-12-07 05:44] taehoonlee commented on #54
@christian-rauch, The `keras-applications` is designed to work with two backends: `keras` and `tf.keras`. Thus, if you want to use the `keras`-based applications, you should import modules from `keras` NOT `keras-applications` directly. The [official example](https://keras.io/applications/) is:
[code]

[2018-12-07 05:52] taehoonlee commented on #56
@Luckick, Can you share your code snippets to reproduce the error?

[2018-12-07 05:57] Luckick commented on #56
The code is:

[code]
Where train_datagen is `train_datagen = ImageDataGenerator(...)`
Thank you!

[2018-12-07 07:12] Luckick commented on #56
1. Yes I am using `from keras.applications.mobilenet_v2 import MobileNetV2`
   And I just delete `backend/layers/models/utils`
2. I set `include_top=False`

But the error still show up. Anywhere else should I take care of?
Thanks!

[2018-12-07 07:21] #56 closed

[2018-12-07 11:08] christian-rauch commented on #54
@taehoonlee If the official keras applications use `keras.applications` as namespace, I don't see the reason why `keras` cannot be the default in `keras_applications`. Similar to how `keras` manages its backends (tensorflow, theano, cntk), `keras_applications` should have a user-configurable backend with a sensible default setting.

Using `keras.applications` for importing models that are defined

[2018-12-12 13:08] AtulCIS opened #57 "Add new classes in InceptionResNetV2 model"
Hello,
I am trying to fine tune InceptionResNetV2 model and I want to add few more classes in it like Watermelon, tomato etc so I tried many ways and every time I am getting an error "a 2D array of shape (samples, 1000)). Found array with shape: 5", so Is it possible to add new classes in existing model or how can I merge my new trained model with InceptionResNetV2 ?

[2018-12-16 05:17] kumardesappan commented on #27
Did you fine-tune the mobilenet weights after this fix. Since, The original TF weights will not produce same result with this fix?

[2018-12-17 06:09] CMCDragonkai commented on #30
@daavoo What is the `pad_info` are you referring to?

[2018-12-17 06:19] daavoo commented on #30
@CMCDragonkai It's from @taehoonlee 's tensornets.
This function:
https://github.com/taehoonlee/tensornets/blob/master/tensornets/utils.py#L132
Example usage:
https://github.com/taehoonlee/tensornets/blob/master/tensornets/resnets.py#L69

[2018-12-17 08:09] taehoonlee commented on #30
@CMCDragonkai, Please refer to [the report](https://github.com/taehoonlee/tensornets/issues/25) about different behaviors of `Conv2D(..., strides=2, padding='same')`. The `pad_info` is designed to handle the asymmetric padding of TensorFlow.

[2018-12-17 11:13] kumardesappan commented on #27
@taehoonlee Thanks for the response.
As per my understanding,
Conv2D(strides=2, padding='same') behavior is not functionally same as
ZeroPad(Kernels/2) + Conv2D(strides=2, padding='valid') in TF. (But, it is same in other frameworks)

If I am not wrong, the TF models are trained with Conv2D(strides=2, padding='same').
You can refer the frozen models from below path. These models has Conv2D(strides

[2018-12-17 12:08] kumardesappan commented on #27
Actually, the fix is below if the input width is even.
ZeroPad(0, 1,0,1 ) + Conv2D(strides=2, padding='valid')
Which is fucntioanlly equllent to Conv2D(strides=2, padding='same').
I did not notice the "correct_pad" function earlier.

[2018-12-18 01:37] taehoonlee commented on #27
@kumardesappan, Sorry but it is hard for me to see your point... Would you please elaborate the point?

[2018-12-25 11:30] moustafaaatta opened #58 "Missing documentation of ImageNet release used for the pre-trained models"
Nowhere in the documentation the release of ImageNet used to get the weights for the pretrained models is indicated.

[2019-01-01 13:02] pgenevski opened #59 "Inception V3 extracts different vectors in different sessions"
Hi guys,

OS: Windows and Linux
Tensorflow version: 1.12.0
Keras version: 2.1.6-tf
Devices: CPU and GPU

I am using keras.applications.inception_v3.InceptionV3 as a feature extractor and I am getting different feature vectors in each session. Seems related to random variable initialization, because setting tf.random_seed(1234) solves the problem. I still cannot pinpoint the exact variables that ar

[2019-01-08 07:34] Tiaspetto opened #60 "Add InceptionV4 pretrianed model"
According Google's research : https://arxiv.org/abs/1805.08974
Inception-V4 shows best performance on fine-tune, while keras-application still not include inception-v4 pretrain model. Add a official implementation will be very helpful, thank u.

[2019-01-21 09:07] xunkai55 opened #63 "Parameter `depth_multiplier` doesn't do anything in MobileNetV2 API"
In the API of MobileNetV2, there's a parameter `depth_multiplier` but it seems useless, which is confusing.

[2019-01-25 21:52] rbahumi opened #64 "Pre-trained Resnet50 predicts the same class for different images."
Keras version: 2.2.4
Backend: Tensorflow

I am loading Resnet50 model pre-trained on imagenet and getting a prediction for the 'nematode' class for different images. Using the same methods with InceptionV3 return different (correct) results for different images.

Resnet50 weights are loaded from [resnet50_weights_tf_dim_ordering_tf_kernels.h5](https://github.com/fchollet/deep-learning-models/relea

[2019-01-26 03:09] rbahumi commented on #64
I am closing this issue, the resnet50 model requires a preprocessing step (the function keras.applications.resnet50.preprocess_input()).

[2019-01-26 03:09] #64 closed

[2019-01-26 14:58] MichaelMonashev opened #65 "preprocessing not syncronised this weights for MobileNetv2"
After this commit https://github.com/keras-team/keras-applications/commit/5f99f5238d83f1d9b9822ad750d2d8f1e017af92 I think pretrained weights have to be changed too.

[2019-01-31 02:51] qxde01 opened #66 "Error of Custom DenseNet layer blocks=[2,2,2,2]"
[code]
or
[code]

Traceback (most recent call last):
  File "<input>", line 1, in <module>
  File "D:\Py36\Python36\lib\site-packages\keras_applications\densenet.py", line 193, in DenseNet
    data_format=backend.image_data_format(),
AttributeError: 'NoneType' object has no attribute 'image_data_format'

[2019-01-31 12:05] MichaelMonashev commented on #65
This is not equal!
before:
[code]
now:
[code]

[2019-02-01 19:34] aakashbehl1994 opened #67 "Dropout error with keras functional API"
I can't use dropout on keras functional API, I get a resource exhaustion error.

![dropout](https://user-images.githubusercontent.com/31963235/52145088-1e757c80-2686-11e9-9a48-44457063d26d.JPG)

Before using dropout my code was working fine but now I am getting this error

![dropout_error](https://user-images.githubusercontent.com/31963235/52145197-5d0b3700-2686-11e9-8095-ba97854b4a21.JPG)

![drop

[2019-02-03 05:39] akashdeepjassal opened #68 "Mobilenet Import issue"
Using TensorFlow backend.
Traceback (most recent call last):
  File ".\train.py", line 8, in <module>
    from keras.applications.mobilenet import MobileNet, _depthwise_conv_block
ImportError: cannot import name '_depthwise_conv_block'

[2019-02-04 04:47] sun-yitao opened #69 "AttributeError: 'NoneType' object has no attribute 'image_data_format' when creating model"
Steps to replicate: (tried on MacOS Mojave and Windows 10)
[code]
```conda create -n testenv tensorflow-gpu keras``` works too
[code]
Creating a ResNeXt (keras applications 1.0.7) and Inception v3 model also gives the same error. I also tried installing keras and keras-applications using pip but same error again. Downgrading to keras 2.2.2 and everything will work properly.

Update: I found that t

[2019-02-08 13:43] taehoonlee commented on #68
@akashdeepjassal, the `_depthwise_conv_block` is designed for internal only.

[2019-02-08 13:47] taehoonlee commented on #69
@sun-yitao, [The official documents](https://keras.io/applications/) say `from keras_applications.xception import Xception` not `from keras_applications.xception import Xception`.

[2019-02-08 13:52] taehoonlee commented on #67
@aakashbehl1994, Thank you for trying Keras. The OOM error is related to not Keras but your machine. The dropout layer requires additional memory for the masking matrix even if there is no weights in dropout.

[2019-02-08 14:13] taehoonlee commented on #65
Thank you for the report, @MichaelMonashev. We must synchronize with [tensorflow-models](https://github.com/tensorflow/models/blob/master/research/slim/nets/mobilenet/mobilenet_v2.py) which is an origin of the pre-trained weights in MobileNetv2. Thus, the number that is used in [tensorflow-models](https://github.com/tensorflow/models/blob/master/research/slim/preprocessing/inception_preprocessing.

[2019-02-08 14:18] taehoonlee commented on #58
@moustafaaatta, That is because all the pre-trained models in here have been just translated from the original repositories. Currently, the keras-applications don't provide the training configuration.

[2019-02-09 01:39] sun-yitao commented on #69
Oh dear must have seen wrongly, will close this issue now

[2019-02-09 01:39] #69 closed

[2019-02-14 03:57] qxde01 commented on #66
@taehoonlee thank you.
It can be solved as follows：
[code]

[2019-02-14 09:32] taehoonlee commented on #66
@qxde01, Yes, that is also possible. Thank you!

[2019-02-14 09:32] #66 closed

[2019-02-14 09:40] taehoonlee commented on #57
@AtulCIS, You can refer the section "Fine-tune InceptionV3 on a new set of classes" in the [official docs](https://keras.io/applications/).

[2019-02-14 09:43] taehoonlee commented on #52
Sorry for the late response, @CMCDragonkai. The deprecated one is just the deep-learning-models repo. The weights in "deep-learning-models/releases" will continue to be maintained.

[2019-02-14 10:33] AtulCIS commented on #57
Thanks @taehoonlee for the reply.
Yes I tried it and when I did that I got the model for my 5 new classes and all the data for 1000 categories disappeared.

[2019-02-14 10:55] taehoonlee commented on #57
@AtulCIS, Then, you can try the following:
[code]

[2019-02-14 11:10] AtulCIS commented on #57
Ok let me try this.

[2019-02-14 11:45] AtulCIS commented on #57
Hi @taehoonlee, What will be the value for "k" in above code ?

[2019-02-14 13:15] taehoonlee commented on #57
The last 4D feature map. An index "k" depends on a model.

[2019-02-14 13:32] AtulCIS commented on #57
Ok so can you please tell in my case what value I can use ? for eg. k=5  ?

[2019-02-15 01:59] taehoonlee commented on #57
I think you need to figure it out.

[2019-02-15 21:17] andrewferlitsch opened #71 "resnet50"

[2019-02-15 21:17] #71 closed

[2019-02-15 21:19] andrewferlitsch opened #72 "Resnet50 : ImportError: cannot import name '_obtain_input_shape'"
I am getting an error on the import line below:

from keras.applications.imagenet_utils import _obtain_input_shape
ImportError: cannot import name '_obtain_input_shape'

I did the latest pip install of keras and keras-applications. Still get the error.

pip install -U keras keras-applications

[2019-02-16 16:53] MSC19950601 opened #73 "keras.application installed by pip binary file has no resnext?"
As title.

[2019-02-17 18:07] NivekNey opened #74 "Duplicated Resnet50 code and weight files"
These are for `include_top=False`, the weight files are not pointing to the same weight file. They also differ in terms of layer naming. Is there a reason to keep them both? Also noticed `tf.keras.applications` is pointing to `resnet50.ResNet50`.

* For `resnet50.ResNet50`:
https://github.com/keras-team/keras-applications/blob/d506dc82d0/keras_applications/resnet50.py#L27-L29
[code]

* For `resnet

[2019-02-18 04:21] taehoonlee commented on #74
@NivekNey, the `resnet50.ResNet50` is a legacy and `resnet.ResNet50`(=`resnet_common.ResNet50`) is factorized over the ResNet variations and new one. But the reason why we are keeping the weight file is not to break the current usages. For example, someone, who are thresholding of softmax values of `ResNet50`, may get the different results if we are replacing the `resnet50.ResNet50` with `resnet.R

[2019-02-18 04:40] taehoonlee commented on #73
@MSC19950601, Yes. the current `Keras 2.2.4` has only `ResNet50` and don't have the ResNet variants.

[2019-02-18 04:50] taehoonlee commented on #72
@andrewferlitsch, the `_obtain_input_shape` is designed for internal only.

[2019-02-18 05:38] #72 closed

[2019-02-18 08:03] Six-wars opened #75 "keras lstm text generation, dealing with a large dataset possibly using batches"
I'm making my own version of keras text generator based on this example https://github.com/keras-team/keras/blob/master/examples/lstm_text_generation.py and my code the same https://bitbucket.org/muiruri_samuel/rap-generator/src/master/char_lstm.py only working with a different dataset, some rap lyrics.

At first the first txt file was about .5 mbs and with about 100k lines of code however I found

[2019-02-18 14:53] NivekNey commented on #74
Ok got it, I guess this is more a model zoo than, so it makes sense to keep both for people to choose/use. Thanks for the official reply!

[2019-02-18 14:53] #74 closed

[2019-02-19 05:26] taehoonlee commented on #59
@pgenevski, Keras-applications and TF-hub have different usages.
1. Keras has its default session, and the keras model is created and initialized on the default session in your codes. Thus, once you create another session and work on the session, you must lose the pretrained weights. The keras's results are from random initialization.
2. TF-Hub is not coupled with the default session, and defining

[2019-02-19 05:42] taehoonlee commented on #75
@Six-wars, It is hard for me to follow your points. Do you want to make a PR for replacing `model.fit` with `model.fit_generator`? Otherwise, are you asking us to replace them? We don't have plans to revise the example, and would be very pleased if you could contribute to Keras.

[2019-02-19 05:53] Six-wars commented on #75
Okay I'll work on my edit and push it later.
I assumed possibly you could have a guide on this anyway I'll start on the
first hurdle that is the x and y population.

On Tue, Feb 19, 2019, 08:43 Taehoon Lee <notifications@github.com wrote:

[2019-02-19 06:01] taehoonlee commented on #75
PRs are always welcome. And you'd better to make a thread on Keras, not here Keras-applications.

[2019-02-19 10:16] AnabelGRios opened #76 "ResNet152 not working properly"
I am trying to use the ResNet152 model from the keras applications module. I have installed the latest version of keras from github, so I have keras applications 1.0.7. I am using tensorflow as backend, version 1.12 (though I have also tried TF 1.9 and the results were similar).
Cuda toolkit version: 9.2
Cudnn version: 7.2.1
Python version: 3.6.7

I am using ResNet50 and ResNet152 on two multi-cla

[2019-02-19 10:36] PraveenAsh opened #77 "Instant predict in Keras"
I'm running into predict latency issues for deep models. A hybrid model built on top of VGG19 takes quite a while to predict. The application I'm working requires instant predictions. So is there a way where one could keep the weights loaded and allow the model to be in `ready-to-predict` state?
Which otherwise would be reloading the entire model for every prediction or send a few samples to predi

[2019-02-19 17:12] #68 closed

[2019-02-19 20:36] Waffleboy opened #78 "NASNet misleading ValueError when include_top=False and weights"
Setting a different image size with include_top = False and weights = 'imagenet' as below,
[code]
I obtain a ValueError
`ValueError: When setting `include_top=True` and loading `imagenet` weights, `input_shape` should be (331, 331, 3).`

Seems strange when include_top is set to False. Should this not work?

[2019-02-20 11:47] #73 closed

[2019-02-22 01:19] taehoonlee commented on #78
@Waffleboy, the architecture of NASNet differs according to `input_shape`. Specifically, the line 513 (`elif p_shape[img_dim] != ip_shape[img_dim]`) causes structural changes, because the zero-padding in 2x down-sampling (conv, pool) perform differently according to whether `input_shape` is even or odd.

Thus, `NASNet(weights='imagenet')` is now forced to take only `input_shape=(331, 331, 3)` to r

[2019-02-22 01:33] taehoonlee commented on #77
@PraveenAsh, It is hard for me to say that the event-listener idea is the scope of Keras. A Keras model already behaves keeping weights and predicting with the weights. Thus, you need to implement your event-listener because checking the data readiness depends on your environment and application.

[2019-02-22 12:13] taehoonlee commented on #76
Thank you for the reports, @AnabelGRios. I checked the followings:

1. The reproducibility of [the performance table](https://github.com/keras-team/keras-applications#performance): PASS
2. The equivalence between `include_top=True` and `include_top=False`: PASS

[code]
[code]

3. The reproducibility of your problem: FAIL
- I ran the shared codes, but both `ResNet50` and `ResNet152` showed similar

[2019-02-22 12:37] Waffleboy commented on #78
@taehoonlee Ah okay, if i want to train NASNet from scratch, as well via transfer learning on a 7 class dataset, how would you recommend me to do so?

[2019-02-23 09:49] taehoonlee commented on #78
@Waffleboy,
1. Training from scratch: `keras.applications.NASNetMobile(weights=None, input_shape=(128, 128, 3), classes=7)`,
2. Transfer learning: the section "Fine-tune InceptionV3 on a new set of classes" in [the official docs](https://keras.io/applications/).

[2019-02-25 01:52] #65 closed

[2019-02-25 01:52] #67 closed

[2019-02-25 22:14] Waffleboy commented on #78
@taehoonlee thanks for your reply!

I cant seem to get it to download the imagenets with weight model.

[2019-02-26 01:26] taehoonlee commented on #78
@Waffleboy, Could you share your codes?

[2019-02-26 13:54] Waffleboy commented on #78
[code]

[2019-02-27 04:36] MinuteswithMetrics opened #79 "ResNeX"
I tried to import ResNext50 into Kaggle kernels and received ModuleNotFoundError:

[code]

I so happen to find **keras-applications** while searching for Se_ResNext50 code and keras. Is this available for use now? Or, will this be available during the next Keras update.  Is it best to run `!git clone` command to get it to work in kaggle kernel? Thank you for assistance.

[2019-03-05 08:52] jiangzihanict opened #80 "Training Resnet50 error"
I am using latest keras and keras-application to train a resnet50 model, but found following error. I have been google for a long time but haven't found a solution.

The related code:
`input_shape=(64,64,3)`
`model = keras.applications.resnet50.ResNet50(include_top=False, weights=None, input_shape=input_shape, classes=2)`
`train_gen = ImageDataGenerator(preprocessing_function=keras.applications.re

[2019-03-05 13:31] taehoonlee commented on #80
@jiangzihanict, If you want to perform a classification task, the `include_top` should be `True`.

[2019-03-05 13:35] taehoonlee commented on #79
@MinuteswithMetrics, the latest release (2.2.4) don't include the resnext models. If you want to use the bleeding edge version, you can try `pip install -U git+https://github.com/keras-team/keras git+https://github.com/keras-team/keras-applications`.

[2019-03-05 14:07] taehoonlee commented on #78
@Waffleboy, You should change `parallel_model = multi_gpu_model(current, gpus=6)` to `parallel_model = multi_gpu_model(transfer_model, gpus=6)`.

[2019-03-05 15:27] jg4ye opened #81 "ResNet50 stride is greater than filter size"
On lines 240, 245, and 252 of the ResNet50 implementation the default value of (2, 2) for stride is used. In the conv_block on lines 114 and 131 (for both the main path and the shortcut) a filter of size (1, 1) is used with the (2, 2) stride. However, wouldn't that ignore half of the values because the filter is smaller than the stride? I propose that the conv_block should use zero_padding of 1 an

[2019-03-06 01:38] jiangzihanict commented on #80
@taehoonlee My image size is (64,64). if the `include_top` is `true`, the  image size only to be (224,224)

[2019-03-06 02:30] taehoonlee commented on #80
@jiangzihanict, It is possible to call `model = keras.applications.resnet50.ResNet50(include_top=True, weights=None, input_shape=(64, 64, 3), classes=2)`. Please try `pip install -U keras keras-applications`.

[2019-03-06 03:38] rocknamx8 opened #82 "how to use mulit input with different shape in pretrained model?"
I have some image dataset (512 x 512), and I want to make a classification. I have resize them to 3 different resolution [512x512, 256x256, 128x128]. As is well-known that some convolution network with global average pooling can accept different shape input. So, I want to take 3 different shape inputs and concat their output to a new dense layer.
    However, keras pretrained model have to specify

[2019-03-08 14:16] jalilnoormohammadi opened #83 "Unable to run ResNeXt101, ResNet152V2"
When I am running  ResNeXt101, ResNet152V2... I got the following error.

AttributeError: 'NoneType' object has no attribute 'image_data_format'

Could you please tell me what is wrong with that?

[2019-03-09 19:10] sumeetssaurav commented on #46
I am also getting the same error
File "/home/vision/.virtualenvs/dl/lib/python3.5/site-packages/keras_applications/imagenet_utils.py", line 224, in decode_predictions
    fpath = keras_utils.get_file(
AttributeError: 'NoneType' object has no attribute 'get_file'

[2019-03-10 23:03] Ivan-wang commented on #83
a solution here: #79

[2019-03-11 01:55] taehoonlee commented on #81
@jg4ye,
1. Many of deep learning architectures are evolving to avoid computational redundancy. A stride of 2 should not be viewed in terms of information loss. The 1x1 filter with the 2x2 stride is just one of the down-sampling operations. Please see the original papers.
2. Keras applications preserve the hyperparameters and the architectures proposed by the original authors.

[2019-03-11 02:00] taehoonlee commented on #82
@rocknamx8, Please refer to [the official document](https://keras.io/getting-started/functional-api-guide/#shared-vision-model).

[2019-03-11 02:05] #77 closed

[2019-03-11 02:05] taehoonlee commented on #76
@AnabelGRios, Do you have any progress?

[2019-03-11 02:08] #57 closed

[2019-03-11 02:11] taehoonlee commented on #83
@jalilnoormohammadi, The keras-applications is not a standalone library. You must import with `from keras.applications.ooo import ooo` NOT `from keras_applications.ooo import ooo`.

[2019-03-11 02:24] #81 closed

[2019-03-11 02:30] rocknamx8 commented on #82
Thanks, but if I have some image with random(inconstant) shape (In some situation I can't preprocess them), Is that any other means to solve it?

[2019-03-11 15:03] taehoonlee commented on #82
@rocknamx8
[code]

[2019-03-12 14:14] Waffleboy commented on #78
Hey, thanks for your help!

I've been trying various stuff over the past few days, and wonder if theres an issue with the weights of NASnet? It performs horribly (about the same as chance) even after training from scratch and via transfer learning

[2019-03-12 18:04] AnabelGRios commented on #76
@taehoonlee, Yes. I have found that if I read and preprocess the images with the function flow_from_directory() from ImageDataGenerator instead of using opencv (besides the prepocess_input() function from resnet), ResNet152 works fine. However, if I use opencv, I get the same behaviour (accuracy jumping around 98% on training and going to 40% on test).

Do you know what might be going on?

Thank y

[2019-03-13 01:18] taehoonlee commented on #76
@AnabelGRios, One of the possible scenarios is that you are using `preprocess_input` twice. The `preprocess_input` is an in-place operation, thus should be applied only once. Otherwise, could you share your preprocessing codes?

[2019-03-13 09:24] #80 closed

[2019-03-13 09:27] taehoonlee commented on #78
@Waffleboy, The NASNet weights are fine.

[2019-03-13 17:06] AnabelGRios commented on #76
@taehoonlee, I think I have found the problem. I have a script where I choose from command line which network to use (among ResNet50, ResNet152 and InceptionV3). To do so, I always import the three networks:

[code]

I was simplifying the script so I could put it here and I have noticed that when I have removed the InceptionV3 import, ResNet152 works fine. This was also a difference between my scr

[2019-03-14 02:26] taehoonlee commented on #76
@taehoonlee, `from keras.applications.inception_v3 import InceptionV3` can't affect `preprocess_input` or any namespaces. If you want to use different modules, you should import individual `preprocess_input`s as follows:
[code]

[2019-03-14 08:10] StephenLouis opened #87 "Expected to see 2 array(s), but instead got the following list of 1 arrays"
I want to create a model that receive one image and compute the image by two Softmax(two output). The code is:
-------------------------------------------------
base_model = InceptionV3(include_top=False)
x = base_model.output
x = GlobalAveragePooling2D()(x)

# first Softmax
x_1 = Dense(1024, activation='relu')(x)
predictions_1 = Dense(4, activation='softmax')(x_1)

# second Softmax
x_2 = Dense(10

[2019-03-18 12:21] udrechsler opened #88 "No validation of the listed accuracy values in the README possible"
Hi,
it is not clear (at least to me) how the numbers in the README are generated.
I trying to replicate/validate the listed accuracy values the last few days,
but I'm always off by at least a few percent, regardless what pre-processing I'm using.
Would it be possible to add the script used to generate these number?

Best regards,
Drechsler

[2019-03-21 00:42] rocknamx8 commented on #82
Thanks for your patience of my question, but my means is "IF I CAN'T KNOW THE INPUT SHAPE OF IMAGE"，even in some condition I'm not permitted to reshape them.

[2019-03-21 03:53] taehoonlee commented on #82
@rocknamx8, you can replace `shape=(512, 512, 3)` with `shape=(None, None, 3)`.

[2019-03-24 19:01] goodyduru commented on #87
The problem should be with your y parameter in your generator function. When your model produces an output containing a list of two arrays, then your y parameter in your generator function has to be a list of two arrays.

[2019-03-25 02:41] #83 closed

[2019-03-25 02:41] #79 closed

[2019-03-25 03:36] taehoonlee commented on #87
@StephenLouis, You should pass parameters like `fit(x, [y1, y2])` where `x` is `(n, 299, 299, 3)` and `y1`, `y2` are `(n, 4)`. In case of `fit_generator`, a generator should yield `x, [y1, y2]`.

[2019-03-25 19:11] sauronpy opened #89 "Buffered data was truncated after reaching the output size limit."
when training process is going forward, suddenly this error appears.

can anyone tell me what is the problem??

i have 12gig graphic memory (VRAM) and this problem is not related to graphic hardware.

this problem, one time appears in epoch 120 and another time appears in epoch 50, and one time do not appears at all.

`Epoch 141/400
17024/50000 [=========>....................] - ETA: 1:50 - loss:

[2019-03-27 04:42] taehoonlee commented on #89
@sauronpy, The issue is not related to keras and keras-applications. Please refer to the https://stackoverflow.com/questions/51463383/buffered-data-was-truncated-after-reaching-the-output-size-limit.

[2019-03-27 08:18] see-- opened #92 "Unnecessary ValueError in MobileNetV2"
MobileNetV2 has 1 / 32 output stride if `include_top=False`. It should work with input shapes that are a multiple of 32.
[code]

[2019-03-27 14:19] taehoonlee commented on #92
Thank you for the report, @see--. I will revise and let you know.

[2019-03-27 16:03] MinuteswithMetrics commented on #79
@taehoonlee Thank you

[2019-03-28 08:07] htrenquier opened #93 "VGG16/19 models do not train"
I am trying to train VGG16 and VGG19 on cifar10.
However, it seems that the models are not training. The validation accuracy stagnates at 0.1 (1/10: 10 classes for the cifar10 dataset).

In the code, (line 82 for vgg19 and vgg16) it seems that the line `global backend, layers, models, keras_utils` is missing.
In comparison to other implemented models,  this line is written after the documentation/

[2019-03-28 09:41] taehoonlee commented on #93
@htrenquier, I hope [the official example](https://keras.io/examples/cifar10_resnet/) will help you.

[2019-03-29 02:54] #92 closed

[2019-03-29 04:01] K0BigYang opened #95 "Is a bug in NasNet ?"
Hello,

Line 163 :
    input_shape = _obtain_input_shape(input_shape,
                                      default_size=default_size,
                                      min_size=32,
                                      data_format=backend.image_data_format(),
                                      require_flatten=True,
                                      weights=weights)

I think that argume

[2019-03-29 04:38] taehoonlee commented on #95
@K0BigYang, I hope the #62 will help you.

[2019-03-29 05:19] htrenquier commented on #93
@taehoonlee thank you for answering.
However, this example is about ResNet and I don't encounter any issue when training this model.
I have written a simple example:
https://github.com/htrenquier/ml-attribute-based-testing/blob/master/example.py
Maybe it will be easier for you to see my problem.

[2019-03-29 05:46] taehoonlee commented on #93
@htrenquier, The convergence rate depends on many factors, such as model complexity, data distribution, and hyperparameters of an optimizer. You can try a more lighter model that VGG, or data augmentation in the official example. VGG in keras-applications has no problem.

[2019-03-29 07:13] K0BigYang commented on #95
Ok, thanks a lot.👍

[2019-03-29 08:37] #95 closed

[2019-03-29 15:41] rocknamx8 commented on #82
Thanks! That's awesome！

[2019-03-30 06:34] #82 closed

[2019-04-01 02:02] #93 closed

[2019-04-01 21:51] aezco opened #97 "How to do transfer learning on a custom trained ResNet50 with different image size"
I have a ResNet model that is trained on 64x64 images. I would like to do transfer learning with new dataset that contains 200x200 images.

I am loading the model like:

`
model = ResNet50(include_top=False, weights=None, input_shape=(64,64,3))
model.load_weights("a trained model weights on 64x64")

model.layers.pop()
for layer in model.layers:
   layer.trainable = False

x = model.output
x = MaxP

[2019-04-02 19:21] rmanicav opened #98 "resnet50 is hanging on returning model in keras 2.2.0 and TF1.10"
Hi,

keras version 2.2.2, python 3.5.6, TensorFlow 1.10.0

I am trying to create a ResNet50 model. It just hangs there on below line

model = applications.resnet50.ResNet50(weights='imagenet', include_top='False',pooling='avg')

Please see below the imports

from keras import applications
from keras.applications.resnet50 import preprocess_input
from keras.preprocessing import image
import numpy as

[2019-04-03 15:14] juice500ml commented on #78
Docs are somewhat misleading. It should say something about imagenet weights not usable for different input shapes.
https://keras.io/applications/#nasnet

[2019-04-05 14:20] maxkohlbrenner opened #99 "Low Accuracy on ilsvrc12_val using VGG16 pre-trained network."
Hi,
according to https://keras.io/applications/#vgg16, the vgg16 pre-trained model has a validation top-1 accuracy of 71.3%.
I deployed the network with the given weights and preprocessing function and arrived at a top-1 accuracy of 64.2% on the ilsvrc12 validation set.
Can anyone confirm the reported accuracy of the pre-trained network?

Thank you very much for your help!
Cheers,
Max

[2019-04-06 14:26] mazatov opened #100 "Trouble loading new ResNet models"
I updated Keras to the latest version with
`pip install -U git+https://github.com/keras-team/keras git+https://github.com/keras-team/keras-applications`

I can now load the new ResNet libraries like ResNet101 or ResNet152, but I cannot create a model with them yet. I'm guessing I am forgetting something trivial but I've been cracking my head on this for 2 days and cannot figure it out. Any help wo

[2019-04-06 23:52] gan3sh500 commented on #60
Is this a help wanted issue? I can submit a PR if so.

[2019-04-08 18:49] ezavarygin commented on #92
[This commit](https://github.com/keras-team/keras-applications/pull/94/files) does not seem to fully solve the problem. The model now tries to load the weights for the specified size ([here](https://github.com/keras-team/keras-applications/blob/8a1e4d427999c26d1a1988dda45454769c4372a5/keras_applications/mobilenet.py#L291)) which in some cases do not exist. This code illustrates the issue:
[code]
l

[2019-04-08 20:35] see-- commented on #92
I think your logic is correct: If we don't have weights for this specific shape, use the default ones (224, 224). Please move `rows = 224` below the if-else block.

[2019-04-08 21:02] see-- commented on #100
Duplicate of #79 `pip install -U git+https://github.com/keras-team/keras git+https://github.com/keras-team/keras-applications`

[2019-04-08 21:33] mazatov commented on #100
As I mentioned in the post, I already did that and got the error after the install.  Also, I don't get the error during the import of the resnet. I only get the error when I create the model.

[2019-04-08 22:40] taehoonlee commented on #92
Thank you for the report, @ezavarygin. PRs are always welcome. In my opinion, the two warnings you described can be combined. For example, "If `rows` is different from `cols` or not in [128, 160, 192, 224], weights for input shape (224, 224) will be loaded as the default". How about this one? @see--

[2019-04-08 22:43] taehoonlee commented on #100
@mazatov, Can you share the error message for `from keras_applications import resnet`?

[2019-04-09 00:27] mazatov commented on #100
@taehoonlee, that's the weird part. I do NOT get an error for import part. Check the code in my first comment. I only get an error when creating the model.

[2019-04-09 00:58] taehoonlee commented on #100
@mazatov, I need `from keras_applications import resnet` NOT `from keras.applications import resnet`.

[2019-04-09 04:19] mazatov commented on #100
Sorry!

Here's the error:

[code]

[2019-04-09 04:33] taehoonlee commented on #100
Then, maybe your keras-app is not the bleeding edge. Please make sure `pip install -U git+https://github.com/keras-team/keras-applications`,

[2019-04-09 06:55] see-- commented on #100
@mazatov The problem is that you did not install the bleeding edge. Maybe you have multiple python versions. `pip3` instead of `pip` might fix your problem.

[2019-04-09 07:38] ezavarygin commented on #92
@see-- What is wrong with the size of 200? Keras manual [clearly says](https://keras.io/applications/#mobilenet) this size is valid. I tried to load the model using the code above and no error was triggered.

@taehoonlee Agreed. I created a [PR](https://github.com/keras-team/keras-applications/pull/101). I made this change to both versions of MobileNets.

[2019-04-09 08:44] see-- commented on #92
@ezavarygin You are right, 200 is valid. I thought it has to be multiple of 32.

[2019-04-09 11:46] mazatov commented on #100
Thanks, everybody! After uninstalling and installing everything a few times I got it to work. Not sure what was the issue, but it seems to work now.

[2019-04-09 11:46] #100 closed

[2019-04-10 18:07] Terizian opened #102 "High CPU utilization upon model.predict()"
I have performed transfer learning using MobileNet and have exported the model to be used in a different applications for prediction.

`img = Image.open(path)
    img = img.resize((224,224))
    img = np.array(img, dtype="float32")
    x = img.reshape((1,) + img.shape)  # reshape image to 1x3x224x224
    x = preprocess_input(x)
    output = model.predict(x)`

The code runs fine, but upon model.pre

[2019-04-12 02:21] fzyzcjy opened #103 "Self-train These Models on ImageNet"
Hi! Thank you very much for these wonderful libraries!
I want to have a `mobilenet` with `alpha=0.125` (or possibly smaller) to make it even more light-weight. Since there is no pretrained models (only with alpha=0.25 and so on), I want to *first pretrain it on mobilenet, and then use it for fine-tuning*. Therefore, I would appreciate it if *I could be given the code you use to pretrain it on mobi

[2019-04-14 20:05] laihaotao commented on #98
if you don't have the pretrain model, it will need to download which will take some time.

[2019-04-15 18:28] OanaIgnat commented on #46
@sumeetssaurav  Me too, with the latest versions of keras (2.2.4) and keras-applications(1.0.7).

[2019-04-16 02:05] taehoonlee commented on #46
@sumeetssaurav, @OanaIgnat

Please use `from keras.applications import xx` NOT `from keras_applications import xx`.

[2019-04-16 10:36] Tiaspetto commented on #60
Hi. It would be very helpful, thk u

[2019-04-16 13:57] gan3sh500 commented on #60
I have it almost ready. I'll test it against the tensorflow/models implementation and submit the PR in a few days.

[2019-04-17 07:53] #58 closed

[2019-04-17 07:54] #75 closed

[2019-04-17 07:56] taehoonlee commented on #76
@AnabelGRios, I hope you solved your problem. I'll close the issue for now. Please feel free to open it again at any time if you have additional comments.

[2019-04-17 07:56] #76 closed

[2019-04-17 07:59] #89 closed

[2019-04-21 02:51] taehoonlee commented on #103
@fzyzcjy,

The keras-applications is designed for inference only, so don't provide training details such as data augmentation (e.g., rotating, shifting), optimization hyperparameters (e.g., lr, decay), and a release number of ImageNet used for training.

For such information, you can check the original repositories shown in the table in README.

[2019-04-21 02:54] taehoonlee commented on #102
@Terizian, Could you describe the details such as statistics of 100 runs? The analysis for CPU and GPU utilizations needs to be more sophisticated.

[2019-04-21 02:59] taehoonlee commented on #99
@maxkohlbrenner,

I will share my inference codes in the near future. Key recipes for ImageNet are the following:
- Down-sampling should not be performed as a square.
Adjust shorten side as 256 is the right way.
In other words, a resized image is either one of (256 X W) or (H X 256).
- The down-sampling scheme is pretty important.
I evaluated all the models with `cv2.resize(img, (h, w), interpolat

[2019-04-21 03:00] taehoonlee commented on #88
@udrechsler,

I will share my inference codes in the near future. Key recipes for ImageNet are the following:
- Down-sampling should not be performed as a square.
Adjust shorten side as 256 is the right way.
In other words, a resized image is either one of (256 X W) or (H X 256).
- The down-sampling scheme is pretty important.
I evaluated all the models with `cv2.resize(img, (h, w), interpolation=

[2019-04-21 03:02] taehoonlee commented on #97
@aezco, You can designate `input_shape=(None, None, 3)`.

[2019-04-21 04:18] Terizian commented on #102
@taehoonlee Thanks for your response. I would provide this information, but the system is offline so it's hard to pull out.
I have a script that fetches images from a database, processes each image, then runs it through the model for prediction. I commented the code, then removed the comments section by section, while monitoring CPU utilization. It seems that it spikes only when I uncomment `model

[2019-04-23 00:44] fzyzcjy commented on #103
Thank you very much!

[2019-04-24 07:36] yaoxunji opened #104 "Keras plot_model error"
I use the plot_model function to visualization the network,but it always begin with a strange number in the picture.
I modified `vis_utils.py` because can not import pydot ,I modified
`import pydot`   to
`import pydot_ng as pydot`

[2019-04-24 11:17] pgenevski commented on #59
Thank you! Indeed it turned out that Keras would load the weights into its own session as soon as the model is instantiated. A possible workaround is to instantiate the tf session first, set it explicitly on the Keras backend and then use the model as a tensor in the tf graph (as specified in the functional Keras API).
I have updated the [notebook](https://github.com/pgenevski/notebooks/blob/327d1

[2019-04-26 11:04] Light-- commented on #54
modify the init file called by your self-defined model file (for me, that is "__ _init_ __.py" called by "new_vgg16.py"), change the following lines in __ _init_ __.py :

[code]

to

[code]

**that is what i understand Luckick means.....**

[2019-04-26 18:23] nxthuan512 opened #105 "Why MSE calculated by Keras Compile is different from MSE calculated by Scikit-Learn?"
I'm training a neural network model for forecasting. Loss function is Mean Squared Error (MSE). However, I found that MSE calculated by Keras is much different from one calculated by Scikit-learn.

The MSE is calculated by `Keras`:

    model.compile(loss='mse', optimizer='adam', metrics=['mse'])

The MSE is calculated by `Scikit-Learn`:

    class my_callback(Callback):
    def __init__(self, tra

[2019-04-26 19:03] #105 closed

[2019-04-28 13:22] fzyzcjy commented on #103
@taehoonlee Sorry for bothering again. So I just ask the training details on corresponding TensorFlow GitHub. However, could you please give the conversion from TF to Keras? Thank you very much for your reply!

[2019-04-29 17:28] maxkohlbrenner commented on #99
Thank you very much  @taehoonlee!
This solved my problem.

[2019-04-29 17:28] #99 closed

[2019-05-01 09:40] SibtainRazaJamali opened #106 "no module named music tagger crnn"
I couldn't find the model music tagger crnn in keras.applications but in
http://faroit.com/keras-docs/1.2.0/applications/#musictaggercrnn
this model has been documented.

[2019-05-01 13:05] Shwetago opened #107 "Error while fetching URL in VGG16"
I am getting this error in VGG16/19 and in DenseNet201. I haven't tried other applications.

[code]

[2019-05-05 16:00] Kautenja commented on #69
alternatively, you can use the following to interact with keras_applications directly. I had to do so to get access to ResNet101 that is unavailable through keras.applications for some reason.

[code]

[2019-05-06 13:40] SJCaldwell opened #108 "Parameter 'depth_multiplier' has been deprecated in MobileNetV2 API, docs don't mention this"
I was having some trouble wherein attempting to use the MobileNetV2 API as is shown in the documentation https://keras.io/applications/#mobilenetv2 resulted in the following error.

[code]

After reading through github and finding #63 , I discovered depth_multiplier was deprecated in mobilenetv2. It would help if this deprecation was clear in the docs!

[2019-05-08 08:59] taehoonlee commented on #103
@fzyzcjy, The conversions have been done by contributors. They must have the conversion script.

[2019-05-08 09:08] taehoonlee commented on #69
@Kautenja, That can be one of the workarounds. Thank you.

[2019-05-10 13:05] fzyzcjy commented on #103
@taehoonlee Thanks very much! How can I contact them?

[2019-05-11 12:37] sreenivasaupadhyaya commented on #78
@Waffleboy

Hey did you solve the image net loading issue due to mismatch of size ( your original issue )

Srini

[2019-05-13 02:35] taehoonlee commented on #103
@fzyzcjy, You can find individual authors on [the keras commit logs](https://github.com/keras-team/keras/commits).

[2019-05-15 09:01] denka0711 opened #109 "NameError: name 'keras_applications' is not defined"
my keras version is 2.2.4

from keras.applications import *

[code]

[code]
after I have trained mode, I want to load the mode as the following code:

# load YAML and create model
[code]
and there is error as following:

~/.local/lib/python3.6/site-packages/keras/engine/base_layer.py in __call__(self, inputs, **kwargs)
    455             # Actually call the layer,
    456             # collecting

[2019-05-22 08:35] PCdurham commented on #78
Back to NASnet, we've been getting great results from both Large and Mobile using transfer learning but with image sizes of only 50x50.  This change in the Keras causes issues for us.  As noted above, when you try to download NASnet for the first time on a new install, you get the 331 tile size bug mentioned because of the enforced 331 size.  But on machines where the download already exists, ever

[2019-05-23 11:45] YuanYunshuang opened #110 "Reshape error when making ResNext model with input shape (None, None, 3)."
I want to input images with different size. And the input shape is set to (None, None, 3).
But the error occurs at line 229 and 230 of "resnet_common.py"

`x_shape = backend.int_shape(x)[1:-1]`
`x = layers.Reshape(x_shape + (groups, c, c))(x)`
The first line returns a shape with None, but the reshape function raised the error "None values not supported"
How can I solve this issue?

[2019-05-26 22:32] aviknayakusa opened #111 "Input 0 is incompatible with layer k_max_pooling_12: expected ndim=3, found ndim=2"
I am having an error i cant seem to comprehend how to solve. Basically i am trying to implement a 1Dconv model with KMAX pooling but when i am adding the KMAXpooling layer the model is throwing error

model codel:
[code]
Input data shape is
x_train shape: (52400, 1, 44)
x_test shape: (13101, 1, 44)
Training samples: 52400
Test samples: 13101
(52400,)
54758    1
14943    1
33251   -1
43037    1
100

[2019-05-28 10:04] csitaula opened #112 "Difficulty in finding the name of category and respective probabilities of an image"
Hi,
I am working on probability features for my research. I am trying to extract the label and probability for all 1000 category for the input image. How to do that? decode_predictions only returns the top probabilities. I don't need top probabilities. Just list of categories in a natural way. HOw to solve my problem? Thanks

[2019-06-07 15:22] kkanellis commented on #69
FYI this no longer works, as the `set_keras_submodules` functions has been removed from `__init__.py`

[2019-06-16 13:11] avitex opened #115 "Supporting ResNet 1by2 variants"
A basic way to implement this would be simply defining ResNet50_1by2 variants like in [this commit](https://github.com/avitex/keras-applications/commit/b41d05580a6bbf6b1b03f08f1a0d6451bdc2dba0). However this would break the convention of the provided ImageNet weights (unless they were generated of course). Instead would propose a generic `filter_mult` arg which would be used like so:

[code]

With

[2019-06-17 22:57] SidGATOR commented on #69
You can set it using this:
`import keras`
`import keras_applications`
`application = {"backend" : keras.backend,"layers" : keras.layers,"models" : keras.models,"utils" : keras.utils}`
`keras_applications.get_submodules_from_kwargs(application)`

[2019-06-18 13:55] fzyzcjy opened #116 "MobileNetV1: Adding"

[2019-06-18 13:56] fzyzcjy opened #117 "MobileNetV1: Adding"

[2019-06-20 08:34] EstelleAlemy commented on #100
Hello ! I use keras 2.2.4. I have the same issue, does anyone have the solution.

[2019-06-21 01:39] idearibosome commented on #69
@kkanellis Instead of using ```set_keras_submodules```, you can directly pass the keras submodules when you create the model, e.g.,

[code]

[2019-06-21 15:39] EmielBoss opened #118 "Why are there applications missing? (AttributeError: module 'keras.applications' has no attribute 'ResNet101/ResNeXt50/ResNeXt101')"
I have an up to date version of Keras and TensorFlow 1.10:

[code]

I import Keras' applications module as suggested and use it as follows:

[code]

I also tried

[code]

But in both cases I get the same type of error:

[code]

Printing `help(applications)` yields:

[code]

which shows that the models aren't present in my installation. Why not? How can I get them? They're also not packaged in the

[2019-06-24 16:05] mekaneeky opened #119 "Using duplicate pretrained models in Model() causes a layer name conflict"
Basically, I suspect the duplicate layer names error below comes from the xception pretrained models. Will try and cook up a fix and set a pull request ASAP
The model definition:
[code]
The traceback:

---------------------------------------------------------------------------
ValueError                                Traceback (most recent call last)
<ipython-input-18-9a4f2999dbb1> in <module>

[2019-06-25 10:51] raghuram-kukun commented on #45
Hi @taehoonlee, I am encountering the same issue. I followed your suggestion to install the latest version of Keras.  I have already installed the latest version of Keras, yet the issue is unresolved. My version of Keras is 2.2.4 and Keras-applications is 1.0.8, and Tensorflow is 1.14.0.

[2019-06-27 21:01] Stancoo commented on #45
Hi, I have exactly the same problem. Keras packages are the same as above. Only the Tensorflow is 1.13.1

[2019-06-27 21:13] Stancoo commented on #45
... but. I just forgot to remove a top layer in the basic model (in my case it is VGG16):

model = VGG16(include_top=False)

.. and then it worked.

[2019-06-28 19:24] mahehu opened #120 "Loading pretrained weights fails when `input_tensor` is non-trivial"
[Documentation](https://keras.io/applications/#build-inceptionv3-over-a-custom-input-tensor) gives this example for initializing the pretrained network with custom `input_tensor`:
[code]
However, adding another layer at the input fails:
[code]
This results in the following error:
[code]
With `weights=None` or without the `Conv2D` layer this works fine.

I'm using keras version 2.2.4 and keras-appl

[2019-07-01 11:16] #103 closed

[2019-07-01 11:17] fzyzcjy commented on #103
@taehoonlee Thanks! (sorry i forgot to reply 2 months ago when seeing your message)

[2019-07-01 11:18] #87 closed

[2019-07-01 11:21] taehoonlee commented on #106
@SibtainRazaJamali, The music tagger CRNN has been deprecated. The current version of Keras is `2.2.4`.

[2019-07-01 11:21] #106 closed

[2019-07-01 11:26] taehoonlee commented on #109
Please let me know the versions of keras-applications. Maybe, in my guess, the problem will disappear if you install the latest versions. Please `pip install -U keras-applications`.

[2019-07-01 11:26] taehoonlee commented on #109
@denka0711, Please let me know the versions of keras-applications. Maybe, in my guess, the problem will disappear if you install the latest versions. Please `pip install -U keras-applications`.

[2019-07-01 11:29] taehoonlee commented on #110
@YuanYunshuang, the issue will be resolved by #85. I'll close the issue for now. Please feel free to open it again at any time if you have additional comments.

[2019-07-01 11:29] #110 closed

[2019-07-01 12:03] taehoonlee commented on #108
@SJCaldwell, Thank you for being patient. It has already been reflected in keras-team/keras#12328. But just uploading autogen docs was not done recently. It can only be done by Chollet.

[2019-07-01 12:08] taehoonlee commented on #118
@EmielBoss, The latest release `2.2.4` doesn't include the latest models. If you want to use the bleeding edge version, you can try `pip install -U git+https://github.com/keras-team/keras`.

[2019-07-01 13:29] #116 closed

[2019-07-01 13:32] #97 closed

[2019-07-01 23:25] DableUTeeF opened #122 "For what reason I need to use a specific input shape when loading imagenet weights, even though any shape works fine when transferring?"
I just want to train MobileNet with larger images but I have to put an Input tensor to the function otherwise it will stuck in this line.

https://github.com/keras-team/keras-applications/blob/master/keras_applications/imagenet_utils.py#L292

I believe this line is really unneeded.

Is this against the rule or should I use Pull request instead?

[2019-07-02 09:21] EmielBoss commented on #118
@taehoonlee Yeah I discovered that as well, but those models aren't compatible with TensorFlow's eager execution, unfortunately.

[2019-07-02 14:48] abhisheksrivastava2397 opened #123 "ValueError: If your data is in the form of symbolic tensors, you should specify the `steps` argument (instead of the `batch_size` argument, because symbolic tensors are expected to produce batches of input data)"
`import os
import tensorflow as tf
from generator import Generator
from discriminator import Discriminator
from keras.applications.vgg16 import VGG16
from keras.preprocessing import image
from keras.applications.vgg16 import preprocess_input
import numpy as np
from keras.layers import Input, Flatten, Dense

class AACNN():
    """AACNN model.
    """
    def __init__(self, sess, FLAGS):
        """

[2019-07-02 14:49] abhisheksrivastava2397 commented on #123
here i have a batch size of 64 images
image shape is(112,96,3)
i want to extract features of self.input and self.G of the entire batch

[2019-07-04 10:06] Yukti-09 commented on #100
When I use keras_applications, it shows :
NameError: name 'keras_applications' is not defined
whereas in keras.applications.resnet
AttributeError: module 'keras.applications' has no  attribute 'resnet'

How do I use resnet then?

[2019-07-04 16:56] BenTaylor3115 commented on #88
I'm struggling to get the same numbers shown in the README as well, I consistently fall 7-8% behind what is shown. I've tried implementing the method @taehoonlee described, but I don't think I fully understand the process as my accuracy dropped further. Have you released the code yet?

[2019-07-05 05:07] taehoonlee commented on #122
@DableUTeeF, You must designate the input_shape as `(rows, cols, channels)`, thus the line is necessary.

[2019-07-05 05:18] taehoonlee commented on #120
@mahehu, I hope the following workaround will help you.
[code]

[2019-07-05 05:25] DableUTeeF commented on #122
Why is it necessary?
Of cource you need to specific the shape but it's not has to be (224, 224,
3) right?
Even (416, 416, 3) works just fine but that line make this errer!!

On Fri, Jul 5, 2019, 12:07 Taehoon Lee <notifications@github.com> wrote:

[2019-07-05 05:50] taehoonlee commented on #122
@DableUTeeF, the following example works fine without an error.
[code]

[2019-07-05 06:25] DableUTeeF commented on #122
Indeed
But for some reasons this raise error in Colab.
[code]

On Fri, Jul 5, 2019, 12:50 Taehoon Lee <notifications@github.com> wrote:

[2019-07-05 06:29] DableUTeeF commented on #122
Well, I tried it again and the MoblieNet works.
But NasNet raise this
[code]

[2019-07-05 06:57] taehoonlee commented on #122
@DableUTeeF, the `ValueError` of NASNet is mandatory in order to reproduce the original results. If you want to train from scratch, you can put `weights=None` as an argument.

[2019-07-05 07:01] DableUTeeF commented on #122
Of cource not!!
I don't mean to train it from scratch so that's why I put the
`weights='imagenet'` no?
The results are far better when transferring even if you change the size,
that's why I've said this should not raise error.

On Fri, Jul 5, 2019, 13:57 Taehoon Lee <notifications@github.com> wrote:

[2019-07-05 07:04] DableUTeeF commented on #122
Well, suppose the MobileNet does work but the NASNet doesn't, it might be
something from the NASNet code rather than the utils.

On Fri, Jul 5, 2019, 14:01 ณัฐพร หงษ์เจริญ <palm22180@gmail.com> wrote:

[2019-07-06 06:06] taehoonlee commented on #122
@DableUTeeF,

1. When `include_top=True`, both the following models must raise ValueError.
[code]

2. When `include_top=False`, only the NASNet must raise ValueError. It is intended behavior because [this line](https://github.com/keras-team/keras-applications/blob/master/keras_applications/nasnet.py#L513) causes structural changes. In other words, the NASNet with `include_top=any, input_shape=(Non

[2019-07-06 06:07] taehoonlee commented on #123
@abhisheksrivastava2397, Can you share your snippets to reproduce the error?

[2019-07-06 06:10] DableUTeeF commented on #122
I know that!!
Please look at my answer above again (I don't have a PC around), I clearly
specific `include_top=False` in the `NASNetLarge()`.
That's should means the Nasnet code sends a `True` param even though I put
it `False`.

On Sat, Jul 6, 2019, 13:06 Taehoon Lee <notifications@github.com> wrote:

[2019-07-06 06:16] taehoonlee commented on #122
@DableUTeeF, the ValueError is intended. And the error message can be misleading. Do you want to revise the error message?

[2019-07-06 06:26] DableUTeeF commented on #122
It's not about the message.
I mean, it's raise error when it should not.
 1.) I put a specific `include_top=False` but the error said `include_top`
is True, this is a bug right?. And if `include_top` is False then whatever
input size I use shouldn't be any problem right? In fact, this does work in
MobileNet. Well, my question at first misleading this. But this same params
raise Valueerror when I c

[2019-07-06 06:29] DableUTeeF commented on #122
The main problem now is "Why it's only error when I use NASNet.

On Sat, Jul 6, 2019, 13:26 ณัฐพร หงษ์เจริญ <palm22180@gmail.com> wrote:

[2019-07-06 06:37] taehoonlee commented on #117
@fzyzcjy, Yes, I agree with you. The l2 is essential for training. But it is not easy to add them.
1. I think that adding l2 into only a single model is not good. In order to add them, we'd better apply them into all the models in the keras-applications. We must survey all the original papers or repositories.
2. In the current APIs, we must change all the lines of individual layer definitions. It

[2019-07-06 06:40] taehoonlee commented on #122
@DableUTeeF, That is not a bug. It is intended behavior because [this line](https://github.com/keras-team/keras-applications/blob/master/keras_applications/nasnet.py#L513) causes structural changes. In other words, the NASNet with `include_top=any, input_shape=(None, None, 3)` may differ from the intended structure of the authors.

[2019-07-06 06:46] taehoonlee commented on #112
@csitaula, You can load information of all the 1000 classes as follows:
[code]

[2019-07-06 06:49] taehoonlee commented on #107
@Shwetago, It doesn't seem to be a Keras issue. I guess your network is unstable.

[2019-07-06 06:52] taehoonlee commented on #104
@yaoxunji, Can you share your snippets to reproduce the situation?

[2019-07-06 07:16] taehoonlee commented on #111
@aviknayakusa, In order to make the outputs 3-dim, you can revise the following two points:
1. `return (input_shape[0], input_shape[1], (input_shape[2] * self.k))` in `compute_output_shape`,
2. `return tf.transpose(top_k, [0, 2, 1])` in `call`.

And is the 1-length time-series (`input_shape=(1, 44)`) intended? The `input_shape` must be `(timesteps, features)` for time-series.

[2019-07-06 08:07] DableUTeeF commented on #122
@taehoonlee As I said, I can just create model with `weight=None` and load the "official Imagenet weights" without any issue.
This code works in colab.
[code]
And as expected, the result is much better than train everything from scratch.
So even the structural is changed, it doesn't cause any problem right?

[2019-07-06 10:19] taehoonlee commented on #122
@DableUTeeF, I figured out that the structural changes have disappeared since the `1.0.6` of keras-applications. Thus, now we can enable `NASNet(include_top=False)` with arbitrary input shapes. Finally you made the point clear :) Thank you

[2019-07-06 10:20] #122 closed

[2019-07-06 23:49] fzyzcjy commented on #117
@taehoonlee I agree with you. So shall we create an issue in tf repo?

[2019-07-09 15:16] BenTaylor3115 commented on #88
I think I've got it working now. What do you do in the cases where an image is smaller than 224x224 to begin with?

[2019-07-10 00:55] taehoonlee commented on #88
@BenTaylor3115, Please just keep the ratio 7/8(=224/256). And as far as I know, there are no examples where the image sizes are smaller than 224 on the official ImageNet results.

[2019-07-10 14:43] Shwetago commented on #107
@taehoonlee It was not a network issue but I have resolved it. Thank you for responding. I'll close this issue now.

[2019-07-10 14:43] #107 closed

[2019-07-11 16:28] BenTaylor3115 commented on #88
I didn't think so. I may still have a problem somewhere.
Do you have the code available for the down-sampling / cropping you used to achieve the results in the README? I'm happy to do the debugging myself if I have a reference of the correct way.

[2019-07-15 16:01] 2sang commented on #115
Though it sounds completely fair to me to have more small variants of the model, subclassed models should be restricted to the more widely known ones that people agree with, IMHO.
Or, we can have them as parameterized form when the option for the variants benefit the model hugely. :)

[2019-07-15 16:40] s36srini opened #124 "ImageNet Weights being reset - only able to achieve 53% accuracy, whereas 69.5% was achieved in the paper"
Here is how I'm creating the model:
[code]

When using the backend context manager below, do the imagenet weights get reset?

[code]

Here is my call for training:

[code]

[2019-07-16 20:56] TahaAnwar commented on #69
Model loads with this but later and .predict() This  gives this error:
'NoneType' object has no attribute 'image_data_format'

[2019-07-17 05:05] BobZiyangDing opened #125 "Keras Lambda making a custom simple layer, tuple TypeError"
Here's the task: I've got 2 Keras layers, encode_p_neck & encode_g_neck. They are of the same dimension. I want to calculate the distance between these 2 vectors, and if the distance is greater than a threshold, then I predict this pair of 2 vectors as negative. If the distance is smaller than a threshold, then I predict this pair of 2 vectors as positive. At last, I want to calculate AUC and outp

[2019-07-17 13:44] 2sang commented on #125
[code]

I couldn't reproduce your error, it worked just as you intended.
And by the way, this kind of question is better to be asked in Stackoverflow I guess, since it seems like it's not an issue or bug of the project. :)

[2019-07-18 23:28] avitex commented on #115
I completely agree, it would be a little optimistic to assume every model used ever would be present, and the line has been drawn somewhere

[2019-07-20 08:55] seraphD opened #126 "How to identify both cats and dogs"
Just like title. Suppose I have a pic that contain both cats and dogs and I want to recognize them all. Then should I set up another class or some other ways?

[2019-07-25 00:26] 2sang commented on #126
You could either try the multi-label approach for that or add a new class like 'cat-and-dog' class.
And you may want to ask this at Stackoverflow for a more elaborated answer. :)

[2019-07-29 19:54] vasanthhr opened #127 "Trained Depthwise mobilenet, but size is h5 file is 24 MB, need to reduce the h5 file size."
Hello Team,

I trained Depthwise Mobilenet and got h5 file of size around 24 MB.

I converted this h5 file to tensorflow_js supported file format(JSON), and used technique of quantization and finally able to reduce JSON file size to 2.1 MB.

Is there any way I can reduce the h5 files size to some more extent? ( I think i need to remove some layers in architecture level before training, Does it hel

[2019-07-31 20:42] #124 closed

[2019-08-01 12:26] lagejoao opened #128 "Inconsistent imagenet preprocessing function"
When preprocessing an image using a `tf.Tensor` and a `np.array` I get different behaviours for the same representation.

[code]

When casting the numpy output to type `uint8` we will get a closer representation to the symbolic output.

----

I see a possible issue on https://github.com/keras-team/keras-applications/blob/master/keras_applications/imagenet_utils.py#L143 where there's a cast on the

[2019-08-01 12:36] lagejoao commented on #128
@tanzhenyu I've realised you changed some logic quite recently https://github.com/keras-team/keras-applications/commit/e52c477a9ccb86b4c7bef7569d59f0c0b2e01cb6. Any input here?

[2019-08-01 14:30] tanzhenyu commented on #128
Yep I think it should be other way around, I will make a change

[2019-08-01 14:37] lagejoao commented on #128
I'll do it, then. Ok for you?

[2019-08-01 14:46] tanzhenyu commented on #128
Sure, thanks

[2019-08-05 01:30] csitaula opened #130 "About power consumption of VGG keras deep learning models"
I am wondering how to calculate the power consumption (watt) and memory (MB) of deep learning model designed in keras? Can anybody help me in such as case? Thanks in advance.

[2019-08-05 06:34] PhilipMay commented on #130
Both should be possible with `nvidia-smi`

[code]

[2019-08-05 06:40] csitaula commented on #130
I am wondering to calculate the cost (computation cost and Memory) per batch of my data on VGG. I think this idea does not work for me.

[2019-08-05 06:54] csitaula commented on #130
I  am wondering to calculate the cost (computation cost and Memory) per  batch of my data on VGG. I think this idea does not work for me.
--

[2019-08-07 14:45] hfwang0318 commented on #54
I just by setting `kwargs` manually, for examples:
`model = ResNeXt(..., backend=keras.backend, layers=keras.layers, models=keras.models, utils=keras.utils)`
thus you can run correctly.

[2019-08-08 10:29] otacon94 opened #131 "Unable to initialize ResNet50 with data_format='channels_first'"
I opened the same issue on the main keras repository wrongly.
Here's the [link](https://github.com/keras-team/keras/issues/13202)

[2019-08-10 10:07] NikitiusD commented on #100
I'm having same issue. Tried Google Colab and Kaggle Kernels - same result:
`ImportError: cannot import name 'resnet`

[2019-08-18 17:48] DarkDetectiv commented on #100
I'm having same issue, i've install pip install -U git+https://github.com/keras-team/keras git+https://github.com/keras-team/keras-applications but found error.
here is the error

#Tempat Install package atau module

!pip install -U git+https://github.com/keras-team/keras git+https://github.com/keras-team/keras-application

Collecting git+https://github.com/keras-team/keras
  Cloning https://githu

[2019-08-18 17:55] DarkDetectiv opened #132 "I'm having same issue, i've install pip install -U git+https://github.com/keras-team/keras git+https://github.com/keras-team/keras-applications but found error."
I'm having same issue, i've install pip install -U git+https://github.com/keras-team/keras git+https://github.com/keras-team/keras-applications but found error.
here is the error

#Tempat Install package atau module

!pip install -U git+https://github.com/keras-team/keras git+https://github.com/keras-team/keras-application

Collecting git+https://github.com/keras-team/keras
  Cloning https://githu

[2019-08-18 18:12] DarkDetectiv opened #133 "No module named 'resnet_152'"
i run the code to clasification cars with dataset in picture, but i found error wit keras. i've installed keras and it say was satisfied. here is code that i search

import tarfile
import scipy.io
import numpy as np
import os
import cv2 as cv
import shutil
import random
from console_progressbar import ProgressBar
import keras
from resnet_152 import resnet152_model
from keras.preprocessing.image im

[2019-08-19 01:15] taehoonlee commented on #100
@DarkDetectiv, It doesn't seem to be a Keras issue. The error message is `Cannot find command 'git' - do you have 'git' installed and in your PATH?`. You should install `git` first.

[2019-08-19 01:15] taehoonlee commented on #132
@DarkDetectiv, It doesn't seem to be a Keras issue. The error message is `Cannot find command 'git' - do you have 'git' installed and in your PATH?`. You should install `git` first.

[2019-08-19 01:20] taehoonlee commented on #133
@DarkDetectiv, The latest releases may not include the latest models. If you want to use the bleeding edge version, you can try `pip install -U git+https://github.com/keras-team/keras git+https://github.com/keras-team/keras-applications`.

[2019-08-19 02:24] DarkDetectiv commented on #133
@taehoonlee i've try but it can't to be install
here the error:

(base) C:\Users\LENOVO>pip install -U git+https://github.com/keras-team/keras git+https://github.com/keras-team/keras-applications
Collecting git+https://github.com/keras-team/keras
  Cloning https://github.com/keras-team/keras to c:\users\lenovo\appdata\local\temp\pip-req-build-wbadiqq5
  Error [WinError 2] The system cannot find th

[2019-08-19 02:33] DarkDetectiv commented on #132
@taehoonlee  thank you, i've install git, but still error when i try to instal !pip install -U git+https://github.com/keras-team/keras git+https://github.com/keras-team/keras-application

[2019-08-19 03:44] taehoonlee commented on #133
@DarkDetectiv, It doesn't seem to be a Keras issue. The error message is `Cannot find command 'git' - do you have 'git' installed and in your PATH?`. You should install `git` first.

[2019-08-19 03:45] taehoonlee commented on #132
@DarkDetectiv, Please share the error message.

[2019-08-19 04:37] DarkDetectiv commented on #132
#Tempat Install package atau module

!pip install -U git+https://github.com/keras-team/keras git+https://github.com/keras-team/keras-application

Collecting git+https://github.com/keras-team/keras
  Cloning https://github.com/keras-team/keras to c:\users\lenovo\appdata\local\temp\pip-req-build-anlz990q

  Error [WinError 2] The system cannot find the file specified while executing command git clon

[2019-08-19 05:51] taehoonlee commented on #132
@DarkDetectiv, The error message is still `Cannot find command 'git' - do you have 'git' installed and in your PATH?`.

[2019-08-19 12:20] DarkDetectiv commented on #132
@taehoonlee  yes sir

[2019-08-19 14:34] szlge opened #134 "Data augmentation with noise resulted in unreasonable performance improvement on ResNet50"
I trained a ResNet50 using the GTSRB data set (http://benchmark.ini.rub.de/?section=gtsrb&subsection=news), then I "augmented" the previously employed GTSRB data set by randomly generated images of the appropriate dimension and repeated the training procedure. Finally I observed that the "noise-augmented" training procedure resulted in an unreasonable +20% accuracy improvement on the same validati

[2019-08-23 11:01] ketyi commented on #134
Gergo, could you try an evaluation of the model just by the noise_array training data exclusively? How would that go?

[2019-08-23 11:06] szlge commented on #134
In such a cases I ended up with an accuracy close to 0, as it is expected.

[2019-08-23 11:07] ketyi commented on #134
At least, that's good.

[2019-08-26 13:27] #131 closed

[2019-08-29 14:27] LOGHORIZION commented on #78
Thanks a lot!

[2019-09-06 09:48] Stealers opened #135 "When to update MobileNetv3?"
When to update MobileNetv3?

[2019-09-09 15:04] gitfourteen opened #136 "How to instantiate a Model with global variable models"
In InceptionV3, can not figure out why [this line](https://github.com/keras-team/keras-applications/blob/master/keras_applications/inception_v3.py#L375) can create a model
`model = models.Model(inputs, x, name='inception_v3')`

and when trace back to this function **[get_submodules_from_kwargs(kwargs)](https://github.com/keras-team/keras-applications/blob/master/keras_applications/__init__.py#L13)

[2019-09-12 10:57] Elesa opened #137 "Keras decoder.predict won't work"
[VAE_test.txt](https://github.com/keras-team/keras-applications/files/3605088/VAE_test.txt)

Hello,

This is just to let you know that the keras VAE example (https://keras.io/examples/variational_autoencoder/)

produces error when you try to employ "decoder.predict"
(if you run
x_encoded = encoder.predict(x_test)
x_decoded = decoder.predict(x_encoded)
)

Thanks,
Maria

[2019-09-16 07:39] BetaBeauty opened #138 "Pretrained model: ResNet50_v1"
Have you updated the pretrained model: ResNet50_v1 binary, which leads to md5 hash mismatched? The new hash is 35e359e52764b0461de8b0d7940745c5 and target hash in code is a7b3fe01876f51b976af0dea6bc144eb.

The download link is [https://github.com/keras-team/keras-applications/releases/download/resnet/resnet50_weights_tf_dim_ordering_tf_kernels.h5](https://github.com/keras-team/keras-applications/r

[2019-09-16 08:15] taehoonlee commented on #132
@DarkDetectiv, I'll close the issue for now. Please feel free to open it again at any time if you have additional comments.

[2019-09-16 08:15] #132 closed

[2019-09-16 08:16] taehoonlee commented on #133
@DarkDetectiv, I'll close the issue for now. Please feel free to open it again at any time if you have additional comments.

[2019-09-16 08:16] #133 closed

[2019-09-16 08:23] taehoonlee commented on #138
@BetaBeauty, The ResNet50 has never been updated recently. You can match the hash by downloading from `https://github.com/fchollet/deep-learning-models/releases/download/v0.2/resnet50_weights_tf_dim_ordering_tf_kernels.h5`.

[2019-09-17 00:29] taehoonlee commented on #137
@Elesa, Please refer to [the decoding parts](https://github.com/keras-team/keras/blob/master/examples/variational_autoencoder.py#L73-L96). The correct usage is as follows:

[code]

[2019-09-17 00:36] taehoonlee commented on #136
@gitfourteen, The line you mentioned is one of the functional APIs. Please refer to [the documents](https://keras.io/getting-started/functional-api-guide/).

[The decorator](https://github.com/keras-team/keras/blob/master/keras/applications/inception_v3.py#L9) puts keras modules into `kwargs`, and then [the function](https://github.com/keras-team/keras-applications/blob/master/keras_applications/i

[2019-09-17 00:38] taehoonlee commented on #135
@Stealers, I am also watching [the official release](https://github.com/tensorflow/models/issues/6815).

[2019-09-17 00:48] taehoonlee commented on #127
@vasanthhr, Currently the tasks of quantization and compression are out of scope in keras-applications. But if you suggest seamless APIs such as TensorRT supports, we are always welcome. And, the manual removal of some layers doesn't look good to me. It is not generalizable.

[2019-09-17 00:49] taehoonlee commented on #120
@mahehu, I'll close the issue for now. Please feel free to open it again at any time if you have additional comments.

[2019-09-17 00:49] #120 closed

[2019-09-17 00:50] #104 closed

[2019-09-17 00:51] #109 closed

[2019-09-17 00:51] #112 closed

[2019-09-17 00:52] #32 closed

[2019-09-17 00:52] #34 closed

[2019-09-17 00:53] #52 closed

[2019-09-17 00:56] taehoonlee commented on #111
@aviknayakusa, I'll close the issue for now. Please feel free to open it again at any time if you have additional comments.

[2019-09-17 00:56] #111 closed

[2019-09-17 08:06] BetaBeauty commented on #138
Thanks @taehoonlee , the new model downloaded is well-used. But it's still strange for the wrong link in keras.applications.resnet.ResNet50. Anyway, the problem is solved and i'll close this issue.

[2019-09-17 10:30] gitfourteen commented on #136
@taehoonlee , thanks for your reply. I did not notice at first that the original import is under  tensorflow environment:
`from tensorflow.keras.applications.inception_v3 import InceptionV3`

But still I looked for `models.Model(...) ` in **keras-team/keras** in vain.

The reference chain for Model instantiation in tensorflow are like this:
`module.Module --> base_layer.Layer --> network.Network -

[2019-09-17 10:30] #136 closed

[2019-09-21 17:13] manojrustagi79 opened #139 "Error coming when creating the Object of Class ImageDataGenerator from keras.preprocessing.image"
When I am creating an object of Class ImageDataGenerator I am getting an error as follows:

TypeError                                 Traceback (most recent call last)
<ipython-input-25-d97bb5dc8a9f> in <module>
     11         height_shift_range=0.05,  # randomly shift images vertically (fraction of total height)
     12         horizontal_flip=False,  # randomly flip images
---> 13         verti

[2019-09-22 11:44] manojrustagi79 commented on #139
Please help on the issue.
Thanks
Manoj Kumar

[2019-09-23 06:01] mahehu commented on #120
Thanks, this solved the issue. Sorry for not remembering to comment on that.

Thanks for your great work!

[2019-09-23 08:10] taehoonlee commented on #108
Closed as the docs have been updated recently.

[2019-09-23 08:10] #108 closed

[2019-09-23 08:13] taehoonlee commented on #137
@Elesa, I'll close the issue for now. Please feel free to open it again at any time if you have additional comments.

[2019-09-23 08:13] #137 closed

[2019-09-23 08:16] taehoonlee commented on #126
@seraphD, Please refer to the [official docs](https://keras.io/applications/#usage-examples-for-image-classification-models).

[2019-09-23 08:16] #126 closed

[2019-09-26 02:42] ssrp opened #140 "Regarding the model weight licenses"
Hi, [I have seen that](https://keras.io/applications/#xception) many pre-trained models are released on licenses which allow people to use the models commercially.

If you have used public datasets like ImageNet for training the models (which are provided only for the research purposes, not commercial usage), how can the weights you provide are open to be used commercially?

Apache license, MIT li

[2019-09-27 19:02] csharma opened #141 "glove embeddings for keras layer"
I'm creating my embedding from glove.6B file as follows

  embedding_layer = Embedding(input_dim=embedding_matrix.shape[0],
                            output_dim=embedding_matrix.shape[1],
                            input_length=max_len,
                            weights=[embedding_matrix],
                            trainable=False,
                            name='embedding_layer')

  sequ

[2019-09-30 06:14] manojrustagi79 commented on #139
Please help on the issue.
Thanks
Manoj Kumar

[2019-09-30 07:40] cuongth95 opened #142 "Pretrained VGG has multi input sizes?"
[code]
Hi everyone,
I am looking for the pre-trained VGG16 and try some experiments. Some mistakes in the input shapes were found, but the model still runs unexpectedly. Can you guys explain more how VGG still works in the above case?
In my opinion, there are several Input layers in pre-trained VGG16 model, but, after convolutions, how they can fit perfectly without any error in the last layers???

[2019-10-01 19:40] csharma opened #143 "glove embeddings with keras"
Hi,

I'm setting up my keras layer for glove embeddings as follows:

        X = X[:set_size]
        y = y[:set_size]
        yy = []

        for i in range(0,len(X)):
            yy = np.concatenate((yy,X[i,0:set_size]), axis=0)

        X = "".join([" "+i if not i.startswith("'") and i not in string.punctuation else i for i in yy]).strip()

        t = Tokenizer()
        t.fit_on_texts(X)

[2019-10-03 07:55] astronstar commented on #69
from keras_applications import resnet_common

[2019-10-04 09:59] Sanbot-okk opened #144 "Error when checking input: expected input_1 to have 3 dimensions, but got array with shape (6, 64)"
Hello!
I am trying to create a model that feeds input parallely to an LSTM and BLSTM layer, the output from which are then concatenated to feed another LSTM layer.
My input dimensions will be varying in the sense nx64 (Number of rows is not constant)

But when I try to fit the model, I get the following error:
Error when checking input: expected input_17 to have 3 dimensions, but got array with sh

[2019-10-09 16:23] venergiac commented on #139
maybe duplicated of

2.3.0 ImageDataGenerator : unexpected keyword argument 'interpolation_order' #13347

[2019-10-09 17:03] manojrustagi79 commented on #139
Thanks for your comment but how to resolve this issue. Could you please guide me detailed steps.

[2019-10-10 20:56] jiangjiangjianggx opened #145 "AttributeError: 'Model' object has no attribute 'metrics_tensors' running mask r-cnn"
Hi, I am trying to run a mask r-cnn code for dental segmentation images training based on the coco and Mask_RCNN, the code should work perfectly, but since my Keras is 2.3.0 and it seems not having the attribute metrics_tensor.

[code]

AttributeError                            Traceback (most recent call last)
<ipython-input-28-fb0a244ef101> in <module>
      4             learning_rate=config_tr

[2019-10-18 15:40] atahadd commented on #145
I have the same issue with keras=1.3.1

[2019-10-23 19:39] PhilipMay opened #146 "[Question] Why is GPU utilization jumping so hard with NASNetMobile?"
I am using a NASNetMobile. `nvidia-smi` somehow shows that GPU utilization is jumping between 12% and 95%. With mean somewhere between. I know from other trainings that GPU utilization is not 100% stable. But these high jumps are extraordinary.

I am using a 1080 Ti with batch sise of 64. The images are 150 by 150 pixel.

Can anybody explain this?

[2019-10-29 19:01] DataStunner commented on #145
It is metrics instead of metrics_tensors. I'm using Tensorflow 1.14.0 and Keras 2.3.0. Updating the **model.py** (2190 - 2199) worked for me.

# Add metrics for losses
        for name in loss_names:
            if name in self.keras_model.metrics_names:
                continue
            layer = self.keras_model.get_layer(name)
            self.keras_model.metrics_names.append(name)

[2019-11-02 15:35] yongtang opened #147 "Is it possible to remove h5py hard dependency from pip install?"
### Summary

This is a feature request to see if it is possible to remove hard dependency of h5py from pip install?

At the moment, keras_applications only have two dependencies in `setup.py`, one is `numpy` and another is `h5py`. From the source code in keras_applications, I couldn't find other reference os h5py.

I am raising this issue, because h5py could not be installed on Ubuntu 18.04 + pyth

[2019-11-07 18:42] idenc opened #149 "Add MobilenetV3"
### Summary
Mobilenet V3 would be a good addition to applications. Models were released on the Tensorflow object-detection-api [here](https://github.com/tensorflow/models/blob/master/research/object_detection/g3doc/detection_model_zoo.md). However, it seems the weights may be broken in my testing.

[2019-11-14 13:55] dulucas opened #151 "add resnet18 and resnet34"
Hi! could you please add resnet18 and resnet34 with their pre-trained weights on Imagenet? Thanks!

[2019-11-15 02:06] shartoo opened #152 "MobileNet transfer learning feature reshape not work"
**System information**
- TensorFlow version : `TF 2.0.0 stable + Keras 2.4.2 `(A )and `1.13.1 +Keras 2.3.1` (B)
- Are you willing to contribute it (Yes/No): Yes

**Describe the feature and the current behavior/state.**

I want to do a transfer learning on MobileNet and change the input size ,i copied the code [colab](https://colab.research.google.com/drive/1s1lkOiqKgl9_MsXJtPF--oh6uXHYkNYm#scrollT

[2019-11-20 12:13] don-tpanic opened #153 "vgg16 has no dropout"
I notice there is no dropout in the vgg16 code whereas dropout was used in the original paper. I wonder if there is a reason for removing it and whether the pretrained weights were learned with or without dropout?

Thank you

[2019-11-20 16:15] aGiant commented on #123
Under Tensorflow 2.0:
Try:
[code]
Error: AttributeError: 'list' object has no attribute 'op'

And this is standard example from tensorflow: https://www.tensorflow.org/api_docs/python/tf/keras/losses/CategoricalCrossentropy

[2019-11-27 18:50] don-tpanic commented on #153
Waiting..

[2019-11-28 06:23] thaingiW opened #154 "How much size of GPU and and other memory requirements to run densenet?"
### Summary

### Environment
- Python version:
- Keras version:
- Keras-applications version:
- Keras backend with version:

### Logs or source codes for reproduction

[2019-11-29 07:16] ZJQbelief opened #155 "efficientnet SE modual meet backend.image_data_format trouble"
https://github.com/keras-team/keras-applications/blob/976050c468ff949bcbd9b9cf64fe1d5c81db3f3a/keras_applications/efficientnet.py#L175

This code will meet trouble when backend.image_data_format() == "channels_first". It should be change as below:
[code]

Thank for your working!

[2019-12-02 01:25] dayangkunurfaizah commented on #109
NameError: name 'applications' is not defined

I have installed keras-applicaitions, but somehow my problem is similar.

Im using 1.12.0 version. Is it the latest version?

[2019-12-03 18:50] zubairahmed-ai opened #156 "ValueError: The last dimension of the inputs to `Dense` should be defined. Found `None`."
### Summary
Receiving this error trying to Fine-tune a EfficientNetB0 using Tensorflow 2.0

### Environment
- Python version: 3.6.4
- Keras version: 2.3.1
- Keras-applications version:1.0.8
- Keras backend with version:

### Logs or source codes for reproduction

`ValueError: The last dimension of the inputs to `Dense` should be defined. Found `None`.`

When fine-tuning a EfficientNetB0 with my ow

[2019-12-04 05:29] zubairahmed-ai commented on #156
Fixed

[2019-12-04 05:29] #156 closed

[2019-12-04 15:37] M4gicT0 opened #157 "Missing documentation of EfficientNet"
### Summary

### Environment
- Python version:
- Keras version:
- Keras-applications version:
- Keras backend with version:

### Logs or source codes for reproduction

[2019-12-04 15:37] M4gicT0 opened #158 "Missing documentation of EfficientNet"
EfficientNet is not documented on keras.io. I am willing to add it if it is straightforward.

[2019-12-05 11:05] #157 closed

[2019-12-07 18:54] #158 closed

[2019-12-10 07:50] LicharYuan opened #159 "The stride position in resnet_common.py / resnet50.py"
### Summary

### Environment
- Python version: 3.6.9
- Keras version: 2.2.4-tf
- Keras-applications version:1.0.8
- Keras backend with version: TF 2.0

### Logs or source codes for reproduction

https://github.com/keras-team/keras-applications/blob/976050c468ff949bcbd9b9cf64fe1d5c81db3f3a/keras_applications/resnet_common.py#L90
This means you are using the first conv(kernel size=1) to upsample, re

[2019-12-12 01:18] ShukuiZhang commented on #135
+1

[2019-12-15 16:43] doraeric commented on #78
@taehoonlee

I found that Inception model took `include_top` as `require_flatten`  when calling `_obtain_input_shape` in this [pr](https://github.com/keras-team/keras-applications/commit/5f12ac88d660906ee3711c359d11618b33e661e5), is it okay to apply the change to NASNet?
It raises an error when trying transfer learning because [require_flatten is set to True](https://github.com/keras-team/keras-ap

[2019-12-17 11:23] mazatov commented on #78
Wonder the same thing @doraeric . As I understand the difference comes when the input image size is even and not odd, correct? So shouldn't we be able to load the weights as long as our input size is odd?
 I currently downloaded separately the weights `NasNet-large-no-top.h5` and do something like this. I am not sure if the weights are being loaded correctly though. The same code doesn't spit out

[2019-12-19 09:45] dlllll-q commented on #145
Hi, firstly, thanks for your reply, this works for me. But there is one problem, in tf.1.12, I use metrics_tensor, which can print loc_loss, class_loss except the total loss. When i change metrics_tensor to metrics in tf1.14, only total loss can be printed in training process. How can I solve this problem?

[2019-12-28 01:19] pipun-gif commented on #145
hi excuse me @dlllll-q  how to edit model.py inside egg file? i can open it by rename the .egg into .zip and modify all file inside that egg, but unfortunately i don't know package it back as a
python egg file after my modification.  i really need your answer, thank you

[2019-12-28 11:36] mdtjan opened #160 "Question about line 74 in inception_resnet_v2.py"
First of all, thank you for your great work!

I found this line a trouble. What is _layer_ in this line? Is it _None_ as in line 33?
I got the error _AttributeError: 'NoneType' object has no attribute 'Conv2D'_ everytime I call _conv2d_bn_ function.

https://github.com/keras-team/keras-applications/blob/976050c468ff949bcbd9b9cf64fe1d5c81db3f3a/keras_applications/inception_resnet_v2.py#L74

[2019-12-31 08:38] hoangphucITJP commented on #122
I want to train EfficientNet on the grayscale images. But the 3 channels restriction makes me have to convert grayscale to RGB which is redundant.

Is there any way to train on 1-channel images?

[2020-01-03 18:48] limapedro commented on #156
How did you fixed it?

[2020-01-08 10:25] ChienWong opened #161 "a small mistake of resnet ,leading to inaccuracy shape of internal layer"
https://github.com/keras-team/keras-applications/blob/976050c468ff949bcbd9b9cf64fe1d5c81db3f3a/keras_applications/resnet50.py#L234
the MaxPooling need to add a extra argument "padding="same"", if not ,the output_shape of the layer is less 1 than normal

[2020-01-12 07:58] ruchi571993 opened #162 "Cannot clone object <keras.wrappers.scikit_learn.KerasRegressor object at 0x7fdc9c3ba550>"
Trying to hypertune ANN but getting an error while using fit..(grid1.fit(X_train, y_train))
Below is the code

def create_model(dropout_rate,weight_constraint,optimizer,init,layers,activation):
	model = Sequential()
	model.add(Dense(nodes, input_dim=171, kernel_initializer=init, activation='relu', kernel_constraint=maxnorm(weight_constraint)))
	model.add(Dropout(dropout_rate))
	model.add(Dense(1,

[2020-01-12 16:13] rickwierenga opened #163 "Add "The One Hundred Layers Tiramisu" model"
I implemented the ["The One Hundred Layers Tiramisu"](https://arxiv.org/abs/1611.09326) model as a part of Google Code-In. The code can be viewed in [this Google Colab](https://colab.research.google.com/drive/1I2taXqYg6sgxA9vjfRmdp0J_8kE-ryYz).

Because there is no image segmentation model available as a part of this repository yet, I would like to contribute by adding the model. I have added [ano

[2020-01-13 15:47] rsalunga29 commented on #145
do we have a pull request for this so it can be fixed for everyone running keras 2.3.x?

[2020-01-14 08:53] rafalfirlejczyk commented on #78
thanks #mazatov . Loading of the NASNetmobile model and than the weights from previously downloaded 'NASNet-mobile-no-top.h5'  solved my issue.

[2020-01-17 05:25] usmanstar62 opened #165 "how i can update the weights inside keras cnn layers i want to update both biases and weight during inferenc"
### Summary

### Environment
- Python version:
- Keras version:
- Keras-applications version:
- Keras backend with version:

### Logs or source codes for reproduction

[2020-01-18 10:04] chenglong19029001 commented on #165
kerenl_initializer = tf.constant_initalizer('weights')

[2020-01-20 01:35] usmanstar62 commented on #165
hi thanks for your rply  can you please guide me how i can  do this initialization with  intergre data type rather then using floating point numbers.

[2020-01-20 13:19] rickwierenga commented on #163
Has anyone had time to look into this yet?

[2020-01-22 04:19] rrm003 commented on #145
I am getting **AttributeError: 'NoneType' object has no attribute 'append'**

[2020-01-22 10:27] suravijayjilla opened #166 "Attribute Error"
Hi,
I am facing the below error, when I try to run the object detection model using Yolo,

AttributeError: 'NoneType' object has no attribute 'is_keras_tensor'

[2020-01-29 06:04] Nagaraj4896 opened #167 "ValueError while running applications_test.py"
def test_inceptionresnetv2():
        app = inception_resnet_v2.InceptionResNetV2
        module = inception_resnet_v2
        last_dim = 1536

applications_test.py:256:
_ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _
applications_test.py:85: in wrapper
    output = func(*args, **kwargs)
applications_test.py:149: in _test_application_basic
    lambda: app(weights='i

[2020-02-03 07:47] taehoonlee commented on #167
@Nagaraj4896, The error is not reproducible. The test `_test_application_basic(app, module=module)` has been checked in Travis. Are you using `tests/data/elephant.jpg`?

[2020-02-03 09:15] Nagaraj4896 commented on #167
Yes i am using tests/data/elephant.jpg this only.

[2020-02-03 09:16] Nagaraj4896 commented on #167
@taehoonlee yes i am using tests/data/elephant.jpg only.

[2020-02-03 17:27] stigersh opened #168 "Wrapping a model using Lambda layer corrupts performance"
### Summary
In the debugging process I checked the following:
I have a keras model which I wrapped in a lambda. From some reason doing it made the optimization start from a worse accuracy point, and get stuck on that value, whereas without the lambda wrapper all is good.

Works bad:
[code]

Works fine:
[code]

### Environment
- Python version: 3.6
- Keras version: 2.2.4
- Keras backend with versio

[2020-02-04 08:05] stigersh commented on #168
I think I found the problem. Lambda layers weren't designed to be used with trainable variables. Thus everything inside the lambda becomes untrainable.
For writing a custom layer with trainable variables this link should be used:
[writing-your-own-keras-layers](https://keras.io/layers/writing-your-own-keras-layers/)

[2020-02-04 08:06] #168 closed

[2020-02-05 12:05] nixingyang opened #169 "Pretrained weights for MobileNetV2"
### Summary
For the MobileNetV2 backbone, current implementation may download non-existing [pretrained weights](https://github.com/JonathanCMitchell/mobilenet_v2_keras/releases/tag/v1.1) when using specific legitimate arguments.
It should fall back to use the 224*224 pretrained weights which are available.

### Environment
- Python version: 3.7.6
- Keras version: N/A
- Keras-applications version:

[2020-02-11 00:27] skulhare commented on #135
https://github.com/tensorflow/models/tree/master/research/slim/nets/mobilenet

[2020-02-15 19:41] sebastian-steindl commented on #162
Had the same Problem. Try to
Change
`layers = [[50],[50, 20], [50, 30, 15], [70,45,15,5]]`
To
`layers = [(50), (50,20), (50,30,15), (70,45,15,5)]`

That worked for me.

[2020-02-19 13:21] #169 closed

[2020-02-22 13:27] jjedele commented on #151
I also think this would be a good addition - Resnet50 can be a bit heavy for some tasks. Are there any reasons for them not being included? It seems fairly straight-forward to add these configurations to the existing codebase.

[2020-02-22 13:31] jjedele commented on #151
Also because there is another Resnet implementation in [Keras Contrib](https://github.com/keras-team/keras-contrib) including 18 and 34.

[2020-02-27 15:54] jaketae commented on #160
From what I see, it comes from the line shown below when the model is initialized:

https://github.com/keras-team/keras-applications/blob/976050c468ff949bcbd9b9cf64fe1d5c81db3f3a/keras_applications/inception_resnet_v2.py#L225

[2020-02-27 21:48] jaketae commented on #161
I'd like to contribute to this. But before I jump in, can you clarify a bit more as to what the issue is? What do you mean by "normal" when you say "1 less than normal"?

[2020-02-27 21:53] jaketae commented on #149
#170 seems to resolve this. Let's wait until it gets approved and merged to master.

[2020-02-27 22:07] jaketae opened #172 "Necessity of resnet50.py"
### Summary

I'm wondering if it is necessary to keep resnet50.py given that resnet_common.py already encapsulates all variants of ResNet, including ResNet50. They seem to be independent implementations of the same model? Please let me know if I'm missing something. Thanks in advance.

### Environment
Leaving fields blank as the issue is irrelevant to build or runtime environment.
- Python version

[2020-02-28 19:22] qlzh727 commented on #172
@fchollet for this issue, I think keras.application is expect to export the symbol in resnet_common.py which is aligned with tf.keras.application.

[2020-02-29 04:07] Gelesh opened #174 "Enable Vebose for validation phase in each epoch"
https://stackoverflow.com/questions/60418067/keras-fit-generator-not-reporting-progress-or-in-validation-step-or-verbose-not

### Summary

### Environment
- Python version:
- Keras version:
- Keras-applications version:
- Keras backend with version:

### Logs or source codes for reproduction

[2020-02-29 18:20] jaketae commented on #172
@qlzh727 Thanks for the input. Unfortunately, I’m not sure if I quite follow what you mean. Is resnet50.py still exported via TensorFlow? From what I see, TF nightly now has its own implementation of resnet independent of Keras.

[2020-03-03 00:03] ya332 commented on #100
For people who come in late, lates keras docs have the folllowing ResNet models:
[code]

[2020-03-09 05:31] NVS16 commented on #107
How didi you solve it? I have the same problem.

[2020-03-26 18:29] vamshi-vk opened #177 "cannot import efficientnet implementation in keras_applications"
### Summary

### Environment
- Python version:
- Keras version:
- Keras-applications version:
- Keras backend with version:

### Logs or source codes for reproduction

[2020-03-27 23:03] brettkoonce commented on #149
see also #176

[2020-04-01 02:44] taehoonlee commented on #149
#176 has been merged. Thank you for being patient.

[2020-04-01 02:44] #149 closed

[2020-04-01 02:45] taehoonlee commented on #135
#176 has been merged. Thank you for being patient.

[2020-04-01 02:45] #135 closed

[2020-04-01 07:00] fzyzcjy opened #179 "Efficientnet is not in `https://keras.io/applications` webpage :)"
Just a tiny reminder: the efficientnet is not on the webpage https://keras.io/applications. Maybe adding it can make more people know that this wonderful library has implemented the wonderful network :)

[2020-04-11 17:55] Sushmasrini2016 opened #180 "resnet50.py - ImportError: attempted relative import with no known parent package (from . import get_submodules_from_kwargs)"
Hi Team,

While i'm running "resnet50.py" i'm getting the below error. please assist us.
------------------------------------------------------------------------------------------------
$PWD
/opt/anaconda3/envs/cnn/lib/python3.7/site-packages/keras_applications
$python resnet50.py
Traceback (most recent call last):
  File "resnet50.py", line 17, in <module>
    from . import get_submodules_from_kw

[2020-04-20 09:19] LookUFOwxy opened #181 "Mobilenet_V2 when use load_model,'<' not supported between instances of 'dict' and 'float'"
#70 # Summary
I trained a model used Mobilenet_V2, but when I want load the model (use load_model) ,there is an error : '<' not supported between instances of 'dict' and 'float'
![image](https://user-images.githubusercontent.com/59433005/79735595-16593980-832b-11ea-8f5f-a4245912f2b5.png)

### Environment
- Python version:
- Keras version:
- Keras-applications version:
- Keras backend with version:

[2020-04-20 10:14] WurmD commented on #151
Some feedback here about for reasons it's not included would be appreciated.
Also, keras-contrib says "is deprecated. Use TensorFlow Addons.", but the https://github.com/keras-team/keras-contrib/tree/master/keras_contrib/applications folder which includes resnet18 is not currently in https://github.com/tensorflow/addons/tree/master/tensorflow_addons

[2020-04-20 14:17] dulucas commented on #151
Hi all, I use resnet model provided in this repo instead and it works fine for me, https://github.com/qubvel/classification_models

[2020-04-22 14:40] panditrahulsharma opened #182 "solve problem using Downgrading Tensorflow 2.2.0rcl and keras"
i also faced lots of problem in Mask-RCNN but three codes that solve my problem
1.!pip uninstall tensorflow_estimator
2.!pip install tensorflow==1.13.2
3.!pip install 'keras==2.1.6' --force-reinstall
4.!python3 setup.py install

[2020-04-29 00:11] chintanp commented on #123
@abhisheksrivastava2397 any progress on this?

[2020-05-04 16:12] CRosero opened #183 "MobileNetV3"
Are there any news on whether MobilenetV3 will be made available soon?

[2020-05-09 09:34] filmerxyz opened #184 "AttributeError: module 'tensorflow.keras.applications' has no attribute 'EfficientNetB0'"
In the [doc](https://keras.io/api/applications/) has [EfficientNet](https://keras.io/api/applications/efficientnet/#efficientnetb0-function) but cannot use it. When I coding it show me an error  `AttributeError: module 'tensorflow.keras.applications' has no attribute 'EfficientNetB0'` .

I use TensorFlow 2.2.0 and Keras 2.3.0 on Google Colab.

I think they not done this EfficientNe yet or they had

[2020-05-10 17:33] asukakenji opened #185 "Wrong Reference Paper in ResNetV2 (typo in comments)"
Source Code:
https://github.com/keras-team/keras-applications/blob/bc89834ed36935ab4a4994446e34ff81c0d8e1b7/keras_applications/resnet_v2.py#L3-L6

The paper for ResNetV2 should be "Identity Mappings in Deep Residual Networks" instead of "Aggregated Residual Transformations for Deep Neural Networks", as mentioned in:
https://github.com/keras-team/keras-applications/blob/bc89834ed36935ab4a4994446e34

[2020-05-10 17:35] asukakenji opened #186 "Redundant import in ResNeXt"
This import is redundant:
https://github.com/keras-team/keras-applications/blob/bc89834ed36935ab4a4994446e34ff81c0d8e1b7/keras_applications/resnext.py#L20

[2020-05-11 07:08] Scottchou7 commented on #183
I think they haven't updated "mobilenet_v3.py" file in keras and TF. But I successsfully import MobileNetV3Small in my keras project.

1. Copy "mobilenet_v3.py" file and put it in your local "keras_applications"  folder. For example I use anaconda: C:\user\AppData\Local\conda\conda\envs\Your Environment Name\Lib\site-packages\keras_applications.

2. from keras_applications.mobilenet_v3 import Mobi

[2020-05-11 07:13] Scottchou7 commented on #184
You can try to copy "efficientnet.py" file in your local "keras_applications" folder. For example I use anaconda to build keras project: C:\user\AppData\Local\conda\conda\envs\Your Environment Name\Lib\site-packages\keras_applications.

from keras_applications.efficientnet import EfficientNetB0
model = EfficientNetB0(
weights='imagenet',
include_top=False,
input_shape=(128, 128, 3),
backend=keras.

[2020-05-11 10:24] espetro commented on #183
Another way to do what @Scottchou7 does is:

1. Uninstall your local `keras-applications` (`pip uninstall keras-applications`).
2. Then install it via git (`pip install git+https://github.com/keras-team/keras-applications.git@master`).
3. For an unknown reason, MobileNetV3 is only directly visible from `keras_applications` submodule:
[code]

[2020-05-13 15:52] filmerxyz commented on #184
@Scottchou7 I didn't  see it, it doesn't in the library

[2020-05-17 08:25] innat opened #190 "[Requested Queries]: Adding features in keras-application for Object Detection API!"

[2020-05-19 08:03] anilsathyan7 commented on #183
Mobilenetv3 is available in latest keras version; but it's not available officially with tf.keras as of now.

First install latest **keras-applications** as mentioned by @espetro .
 Now, to use mobilenetv3(large) with tf.keras/tf2 for transfer learning:

`mnv3=keras.applications.keras_applications.mobilenet_v3.MobileNetV3Large(input_shape=(224, 224, 3),alpha=1.0, minimalistic=True, include_top=Fal

[2020-05-29 19:49] robert-hardwick opened #191 "ValueError: Unable to create group (name already exists)` when saving MobilenetV3 model to .h5"
### Summary

Created an instance of MobileNetV3Small, attempted to save model with weights to .h5 file and after loading back again the model gives a different output or with tensorflow.keras fails with error.

Issue not present with save_format="tf" / SavedModel

In tensorflow.keras this gave error of:
ValueError: Unable to create group (Name already exists)

After reading about this error it lea

[2020-05-30 10:02] robert-hardwick commented on #191
Have debugged further

[code]

Appears that it doesn't like the layer name "depthwise/pad" before the parent group "depthwise" [https://github.com/keras-team/keras-applications/blob/bc89834ed36935ab4a4994446e34ff81c0d8e1b7/keras_applications/mobilenet_v3.py#L161-L162](https://github.com/keras-team/keras-applications/blob/bc89834ed36935ab4a4994446e34ff81c0d8e1b7/keras_applications/mobilenet_v3.py#L

[2020-05-30 10:07] robert-hardwick commented on #191
Again, the above debug was using tensorflow keras, had assumed that keras was silently failing but since fixing the layer naming the problem still persists with same symptoms as kera. Will use keras for further debugging.

[2020-05-30 11:47] innat opened #192 "AttributeError: Can't Import EfficientNet!"
### Environment
- Python version: Python 3.7.6
- Keras version: !pip install -U git+https://github.com/keras-team/keras
- Keras-applications version:
- Keras backend with version: Tensorflow-GPU 2.1.0

I tried following in kaggle

[code]
And got the following:

`AttributeError: module 'tensorflow' has no attribute 'keras_applications'`

Which version is needed? In addition, why there are not built

[2020-06-01 10:01] Arham-Aalam opened #193 "Model not accepting same input shape image defined in input layer."
### Summary
I just stuck somewhere in the inference of my model, I'm not sure but that is probably a functional API bug.
My model definition:

[code]
Inference code:
[code]
Error:
[code]

### Environment
- Python version: 3.6
- Keras version: 2.2.4
- Keras-applications version: 1.0.8
- Keras backend with version: Tensorflow 1.15.0

[2020-06-02 06:11] Scottchou7 commented on #193
The input shape of your model is (299,299,3)
`pretrained_model = InceptionV3(include_top=False, input_shape=(299,299,3), weights="imagenet")`
But your image shape is resize to (229, 229, 3)
`roi = cv2.resize(roi, (229, 229))`

[2020-06-02 09:08] Arham-Aalam commented on #193
Ah, I think I was sleeping during coding.
Thanks @Scottchou7

[2020-06-02 09:08] #193 closed

[2020-06-03 11:45] lovejing0306 commented on #183
I use you way, but is wrong

[code]

[2020-06-09 10:27] MucManu opened #194 "Settings used for ImageNet pre-training"
**Summary**
This is more a general question that applies to all models where ImageNet pre-trained weights are available.

Is there any source or documentation what settings were being used for pre-training the particular weights that are being provided, e.g. when using the pre-trained MobileNetV2 weights is there any source where I can get some information about the settings for pre-training?
When

[2020-06-10 11:49] CRosero commented on #183
Seeing as how sadly there has been no response from the Keras team regarding this, I contacted TF and [this](https://github.com/tensorflow/tensorflow/issues/40217) is the response I received

[2020-06-26 04:47] nathan60107 commented on #184
Please look at [tf doc](https://www.tensorflow.org/api_docs/python/tf/keras/applications/EfficientNetB0), it is only available in tf-nightly of tf 2.2.
So if your tf is not nightly, you cannot find it.

[2020-07-01 07:41] #161 closed

[2020-07-05 01:59] darien-schettler commented on #192
Quote from [Tensorflow EfficientNet Documentation](https://www.tensorflow.org/api_docs/python/tf/keras/applications/efficientnet)
- **`Note: This API is new and only available in tf-nightly.`**

[2020-07-05 04:43] #192 closed

[2020-07-18 07:43] #190 closed

[2020-07-27 01:05] yasindagasan commented on #50
just add pooling='avg' to get the 2048 feature vector

model = ResNet50(weights='imagenet', include_top=False,pooling='avg')

[2020-07-30 05:52] Linriversluv commented on #151
Yeah, it would be great if they're included.

[2020-08-04 19:32] junyongyou opened #195 "Imagenet pretrained weights not match the current implementation of ResNext, thanks"
I am using ResNext50 in tensorflow.keras.application.resnet and also the ImageNet pretrained weights downloaded from https://github.com/keras-team/keras-applications/releases/download/resnet/resnext50_weights_tf_dim_ordering_tf_kernels_notop.h5. However, it seems the latest ResNext implementation does not match the weights. For example, if no top layers are included, an error "a weight file contai

[2020-08-06 10:26] aadhav-n1 commented on #184
I'm using TF 2.3, the issue is still prevalent. I tried to import using:

`model = tf.keras.applications.EfficientNetB0(weights = 'imagenet')`

and I get the same error:

`AttributeError: module 'tensorflow.keras.applications' has no attribute 'EfficientNetB0'`

The above solution doesn't work anymore as `EfficientNetB0` is available in TF 2.3 as per the [docs](https://www.tensorflow.org/api_docs/

[2020-08-08 16:42] jmarrietar commented on #151
+1

[2020-08-11 09:26] hamddan4 commented on #151
Also agree. If you have all the blocks for ResNet50, ResNet101, ResNet152, why not adding a basic structure as [keras_contrib](https://github.com/keras-team/keras-contrib/blob/3fc5ef709e061416f4bc8a92ca3750c824b5d2b0/keras_contrib/applications/resnet.py#L286) does so you can create your own ResNet?

[2020-08-20 17:57] iyashdesh commented on #180
try
from keras_applications import get_submodules_from_kwargs
from keras_applications import imagenet_utils
from keras_applications.imagenet_utils import decode_predictions
from keras_applications.imagenet_utils import _obtain_input_shape

if explicitly using the code for a keras application then you might get this error:
AttributeError: 'NoneType' object has no attribute 'image_data_format'
so tr

[2020-08-25 18:58] davidlrobinson commented on #151
+1

[2020-10-07 17:06] Moldoteck commented on #60
Have you succeeded?

[2020-10-12 14:10] chqiwang commented on #195
@junyongyou Did you solve this problem? I also have this problem.

[2020-10-12 20:50] junyongyou commented on #195
No. I didn't and I didn't work on this since then.

[2020-10-23 16:11] hamddan4 opened #196 "InceptionResnetV2 summary() seems to be another network as it does not look like the one in the paper."
#187 # Summary
Importing the model of InceptionResnetV2 seems to be importing another model instead.

### Environment
- Python version: 3.8.2
- Keras version: 2.3.1
- Keras-applications version: 1.0.8

### Logs or source codes for reproduction
If you do:
[code]
The first lines of the model output look something like this:
[code]
If you take a look, you first see that these layers are put sequentia

[2020-10-26 19:35] hamddan4 commented on #196
Got an answer from google: https://stackoverflow.com/questions/64488034/inceptionresnetv2-stem-block-keras-implementation-mismatch-the-one-in-the-origin

The InceptionResnetV2' stem block should be changed.

[2020-10-29 05:14] innat opened #197 "[Request] Adding Vision Transformer (ViT) in Keras"
It would be great to add into `keras`. Paper: https://arxiv.org/abs/2010.11929

[2020-11-02 06:09] #197 closed

[2020-11-23 17:42] xhlulu opened #198 "Efficientnet's BASE_WEIGHTS_PATH points to external release"
It seems like in the case of DenseNet and ResNet, the weights are released on the `keras-applications` repo:
https://github.com/keras-team/keras-applications/blob/bc89834ed36935ab4a4994446e34ff81c0d8e1b7/keras_applications/densenet.py#L27-L29

https://github.com/keras-team/keras-applications/blob/bc89834ed36935ab4a4994446e34ff81c0d8e1b7/keras_applications/resnet_common.py#L41-L43

In the case of E

[2020-12-08 08:16] darcula1993 opened #199 "shufflenet v2"
Is there any plan to provide shufflenet v2 model and pre-trained weights?
Thank you very much for any response!

[2020-12-14 06:09] itsnamgyu commented on #21
Seems legit, but this did cause confusion for me while I was trying to debug my preprocessing pipeline.

[2020-12-20 23:04] xhlulu commented on #177
`keras-applications` hasn't had a new release since it was added. You will need to install this directly from source.

[2020-12-20 23:06] xhlulu opened #200 "The drop connect rate (aka survival rate) is incorrect"
I originally posted this as an issue here: https://github.com/qubvel/efficientnet/issues/135

However I noticed the two implementations were the same and the error exists here as well, so I decided to post it here.

---

I just verified with the reference tf.keras implementation, and here are [the results](https://www.kaggle.com/xhlulu/efficientnet-survival-rate-verification). Below is the output

[2020-12-21 07:06] darcula1993 commented on #200
I check the drop rate per block and it looks fine:

block1a_ 1.0
block1b_ 0.9875
block1c_ 0.975
block2a_ 0.9625
block2b_ 0.95
block2c_ 0.9375
block2d_ 0.925
block2e_ 0.9125
block3a_ 0.9
block3b_ 0.8875
block3c_ 0.875
block3d_ 0.8625
block3e_ 0.85
block4a_ 0.8375
block4b_ 0.825
block4c_ 0.8125
block4d_ 0.8
block4e_ 0.7875
block4f_ 0.775
block4g_ 0.7625
block5a_ 0.75
block5b_ 0.7375
block5c_ 0.725
b

[2020-12-22 15:21] xhlulu commented on #200
@darcula1993 I'm confused. Shouldn't the block rate be at ~0.8 for the final block since the drop_connect_rate is 0.2?

[2020-12-22 15:26] xhlulu commented on #200
So it turns out I pasted different values. However the problem remains as indicated.

[2020-12-23 05:26] darcula1993 commented on #200
[code]
I check the code and seems that b can be greater than num of blocks,not sure why.

[2020-12-23 17:14] xhlulu commented on #200
I've observed the same thing as well.

[2020-12-26 11:36] innat commented on #200
Same here.
[Here](https://stackoverflow.com/questions/65455921/official-and-un-official-efficientnet-in-keras-significant-performance-gap) is the reproducible code if anyone wants to test it.

[2021-01-02 22:55] fmbahrt commented on #200
Qubvel's implementation does not calculate the total number of blocks correctly for configurations larger than B0.

[2021-01-03 07:00] innat commented on #200
Practically it does perform better than official. -_-

[2021-01-04 15:48] xhlulu commented on #200
I've only observed better performance in one case so I'm not sure it generalizes. In that case, the improved performance does indicate that extreme low survival rates (<0.3) might be a good regularization approach.

[2021-01-05 08:10] innat commented on #200
Well, I'm not sure, maybe I need to look again properly. In fact, I spent almost a week assuming that there probably some problem with my data loader using the official efficient-net. But when I use non-official implementation, it was just fine.

[2021-01-11 17:04] LucaUrbinati44 opened #201 "Missing one conv2d layer in inceptionv3?"
### Summary

I think that there is a missing layer in the implementation of Inceptionv3.

According to the paper C. Szegedy, V. Vanhoucke, S. Ioffe, J. Shlens, and Z. Wojna, “Rethinking the Inception Architecture for Computer Vision,” arXiv:1512.00567 [cs], Dec. 2015, Accessed: Dec. 30, 2020. [Online]. Available: http://arxiv.org/abs/1512.00567, in **Table 1** there should be a conv2d layer that t

[2021-01-26 09:31] RobinV760 opened #202 "AutoGraph could not transform model.make_predict_function ... and run it as-is."
### Summary

### Environment
- Python version: 3.7
- Keras version: 2.4.0
- Keras-applications version: 1.0.8
- Keras backend with version: not installed

### Logs or source codes for reproduction
WARNING:tensorflow:AutoGraph could not transform <function Model.make_predict_function.<locals>.predict_function at 0x000002251A6CB438> and will run it as-is.
Please report this to the TensorFlow team. W

[2021-01-30 08:35] jayes97 commented on #184
install efficientnet in you env
!pip install keras-efficientnet

then you can import model as

import efficientnet.tfkeras as efc

done...
you can use prefix 'efc' for B0-B7

[2021-02-06 19:45] digitalemerge commented on #78
Hi,

I got the same error in tf 2.4.1. I changed line 177 (the one that was 167 for you) to require_flatten=False. Did you get any answer on the potential dangers of changing this?

[2021-02-08 18:02] areejhameed opened #203 "problem with loading keras model"
please can anyone help me in solving the problem of accuracy incompatibility between the saved keras model and the loaded one, I built a model for eeg classification and I acquire a 95% accuracy but when  I loaded the model the accuracy decayed to 13% .
thanks

### Environment
- Python version:3.5
- Keras version:2.2.2
-spider:3.3.1

### Logs or source codes for reproduction

[2021-02-27 16:37] weishanlee commented on #145
Try to restart all over again to run the script. It should be ok.

[2021-03-16 09:39] KudzayiKing opened #204 "How to create ResNetD?"
Hi, i have been trying to create a `ResNet50D` , mainly by adding an `avg_pool()` layer before the `1x1 conv2D` in the downsampling block ,but I am getting dimension error , How can I fix this problem ? I have attached the code , is the `averagepooling2D` layer supposed to be shortcut ?![IMG_20210316_123927.jpg](https://user-images.githubusercontent.com/66751252/111287858-af382800-8654-11eb-8d9d-b

[2021-06-11 17:54] Zerzavot commented on #100
Use this one
`from keras.applications.resnet import ResNet101 ` or u can import another version of resnet according to your selection
`from keras.applications.resnet50 import ResNet50`

[2021-07-06 02:55] darcula1993 opened #205 "Will keras applications keep update?"
It is truly useful but It was last updated a year ago.

[2021-07-21 19:59] Samarth-Mahapatra commented on #46
I am getting the following error.
`  File "serving_sample_request.py", line 33, in <module>
    print(json.dumps(inception_v3.decode_predictions(np.array(pred['predictions']))[0]))`
`KeyError: 'predictions'`

[2021-07-21 20:00] the-mac-user commented on #46
I am getting the following error.
File "serving_sample_request.py", line 33, in <module> print(json.dumps(inception_v3.decode_predictions(np.array(pred['predictions']))[0]))
KeyError: 'predictions'

[2021-08-17 16:33] ScarletMcLearn commented on #75
@sam-thecoder can you please tell how you dealt with the memory issue when dealing with large dataset?

Thank you.

[2021-09-06 15:25] innat commented on #205
@fchollet could you please give some feedback on that?

[2021-12-07 11:52] SajjadRahmani commented on #159
Hi there,
The link provided by @LicharYuan seems to be revoked, but the following link is the PyTorch implementation of ResNet
https://github.com/pytorch/vision/blob/main/torchvision/models/resnet.py

Although the original paper of ResNet was the same as Keras implementation (applying stride=2 for the first Conv1x1), PyTorch implementation sound more reasonable.

Best Regards,
Sajjad Rahmani

[2021-12-09 07:18] gcunhase opened #207 "Obtained baseline accuracy for ResNet50v2 is different than officially reported"
### Summary
Obtained baseline accuracy for ResNet50v2 is different than officially reported:

| Model | Top-1 (%) |
| -------- | ------------- |
| [Baseline (official)](https://github.com/keras-team/keras-applications) | 75.96 |
| Baseline (obtained) | 66.85 |

ResNet50v1 works fine, so I don't think the issue is with data-loading or with the eval code. My current guess is that there might be some

[2021-12-14 23:11] gcunhase commented on #207
Any updates on this?

[2021-12-21 01:53] gcunhase commented on #207
Any updates on this?

[2022-01-04 03:00] gcunhase commented on #207
Any updates on this?

[2022-01-08 09:01] buckeye17 opened #208 "NASNetLarge input shape error"
### Summary
I'm able to fit several Keras applications (VGG16, InceptionResNetV2, Xception, etc) without error, but when I attempt to fit NASNetLarge with the line of code shown below, I get the error message shown below.  Clearly the error message message isn't true based on my line of code since I have `include_top=False`.  In fitting these different applications, I'm simply importing the corres

[2022-01-16 19:55] #172 closed

[2022-01-17 11:00] kalelpark commented on #78
I recommend that everyone refer to this link!

https://www.tensorflow.org/api_docs/python/tf/keras/applications/nasnet/NASNetLarge

[2022-02-01 02:04] qlzh727 commented on #207
Let me close this bug and track the progress in https://github.com/keras-team/keras/issues/15822

[2022-02-01 02:04] #207 closed

[2022-03-08 03:07] xellDart opened #209 "Keras MobileNetv2 image normalization"
Hi, I train my model using keras, and I load data using this function

Resize the images to a fixed input size, and rescale the input channels to a range of [-1,1]

[code]

But i cant understand what norm mean values apply when I transform my model to other framework, for example, ncnn, Pytorch use
- loaded in to a range of [0, 1] and then normalized using mean = [0.485, 0.456, 0.406] and std = [0

[2022-03-25 14:25] #144 closed

[2022-04-01 11:59] KaleabTessera commented on #151
+1

[2022-04-08 09:11] zaccharieramzi commented on #151
For anyone looking for a maintained official implementation, it is available in [tensorflow/models](https://github.com/tensorflow/models/blob/master/official/vision/modeling/backbones/resnet.py).
There is however a slight "bug" in the implementation because it has an extra convolution compared to the paper and to PyTorch, but I created a [PR to fix it](https://github.com/tensorflow/models/pull/105

[2022-05-18 09:41] asparsa opened #210 "There is a bug using GPU in MobileNetV3Small"
I wanted to change the Implementation of MobilebetV3Small for my use case. so I cloned the keras-applications and tried to run the mobileNetV3 directly from the source. but it had raised errors when I was using GPU
`tensorflow Failed to get convolution algorithm. This is probably because cuDNN failed to initialize, so try to see if a warning log message was printed above.`
I tried TPU and CPU and

[2022-06-05 20:05] andreped commented on #183
Has anyone here tried to use MobileNetV3 in keras.applications with TimeDistributed?

I am having some challenges (Python 3.8.10, keras-nightly==2.10.x).

To reproduce error:
[code]

More details on error, logs, and other stuff can be seen here:
https://github.com/keras-team/tf-keras/issues/575

[2022-09-22 17:24] zaccharieramzi commented on #151
The model is now in keras-cv after [this PR](https://github.com/keras-team/keras-cv/pull/805#event-7441560537).